{{extend 'default/layout_base.html'}}

<script>
    // OBS: other global variables for this page
    var url = {
      create_note : '{{=URL("_create_note")}}',
      savePosition: '{{=URL("_save_position")}}'
    },
    msg = {
        note_default_text : '{{=T("Your text")}}',
    },
//    txt = {
//        team_page : '{{=T("Team Page")}}',
//        started_in : '{{=T("Started in")}}',
//        activities : '{{=T("Activities")}}',
//        upload : '{{=T("Upload")}}',
//        labels : '{{=T("Labels")}}',
//        delete_card : '{{=T("Delete")}}',
//        type_message : '{{=T("Type your message")}}',
//    },
//    button = {
//        comment : '{{=T("Comment")}}',
//        edit : '{{=T("Edit")}}',
//        save : '{{=T("Save")}}',
//        cancel : '{{=T("Cancel")}}',
//        delete : '{{=T("Delete")}}',
//    },
    info = {
        project_id : '{{=project_id}}',
        person_id : '{{=person_id}}',
    }


</script>
{{ import json }}
<div id="area-brainstorm" class="container-fluid">
    <div class="row-fluid">
        <div class="span5">
            {{if 'brainstorm_notes' in globals():}}
                <ul class="notes-container">
                {{for i in brainstorm_notes:}}
                    {{ if i.position_: }}
                      {{ position = json.loads(i.position_) }}
                      <li class='{{=g_current_page("default/brainstorm/%s" %i.id,"active")}} note' data-id="{{=i.id}}" style="left: {{=position['left']}}px; top: {{=position['top']}}px;">
                    {{ else: }}
                    <li class='{{=g_current_page("default/brainstorm/%s" %i.id,"active")}} note' data-id="{{=i.id}}">
                    {{ pass }}
                        <p>{{=i.text_}}</p>
                        <hr>
                        <p>Criado por: {{=i.created_by.name}}</p>
                        <p>Criado em: {{=i.created_at.strftime('%d/%m/%Y')}}</p>
                    </li>
                {{pass}}
                </ul>
            {{pass}}
        </div>
    </div><!--/row-->
</div><!--/container-fluid-->

