{{extend 'default/layout_base.html'}}

<script>
    // OBS: other global variables for this page
    var url = {
      create_note : '{{=URL("_create_note")}}',
      savePosition: '{{=URL("_save_position")}}',
      savePositionGroup: '{{=URL("_save_position_group")}}',
      update_items : '{{=URL("_update_items.json")}}',
      update_last_note_position : '{{=URL("_update_last_note_position.json")}}',
      remove_note: '{{=URL("_remove_note.json")}}',
      createGroup: '{{=URL("_create_group.json")}}',
      add_notes_in_group: '{{=URL("_add_notes_in_group.json")}}',
      remove_notes_from_group: '{{=URL("_remove_notes_from_group.json")}}',
      remaining_notes: '{{=URL("_remaining_notes.json")}}',
      remove_group: '{{=URL("_remove_group.json")}}',
      update_color_note: '{{=URL("_update_color_note.json")}}',
      current: '{{=URL("brainstorm")}}'
    },
    msg = {
        note_default_text : '{{=T("Your text")}}',
        confirm : '{{=T("Are you sure you want to continue?")}}',
        create_note_error : '{{=T("Error creating note!")}}'
    },
    info = {
        project_id : '{{=project_id}}',
        person_id : '{{=person_id}}'
    }
</script>
{{ import json }}
<div  class="container-fluid container-fluid-brainstorm">
    <div class="row-fluid">
        <div id="area-brainstorm" class="span12">
            {{if 'notes' in globals():}}
                <ul class="notes-container" data-type="no-group-notes">
                {{for i in notes:}}
                    {{ if i.position_: }}
                      {{ position = json.loads(i.position_) }}
                      <li class='{{=g_current_page("default/brainstorm/%s" %i.id,"active")}} note note--panel note--droppable' data-id="{{=i.id}}" data-type="note" style="background-color: {{=i.color}}; left: {{=position['left']}}px; top: {{=position['top']}}px;">
                    {{ else: }}
                      <li class='{{=g_current_page("default/brainstorm/%s" %i.id,"active")}} note note--panel note--droppable' data-id="{{=i.id}}" data-type="note" style="background-color: {{=i.color}}">
                    {{ pass }}
                      <div class="note-header">
                        {{ if user_has_permission_for_delete_note(i.created_by): }}
                          <i class="icon-note-header icon-note-header--delete icon-trash" data-pk="{{=i.id}}"></i>
                          <i class="icon-note-header icon-note-header--color icon-tint" data-pk="{{=i.id}}"></i>
                        {{ pass }}
                        <div class="clearfix"></div>
                      </div>
                      <div class="note-content">
                        <a class="editable-click editable" data-type="textarea" data-pk="{{=i.id}}" data-url="{{=URL('_update_items.json')}}" data-type-text="note-text" style="display: inline;">{{=i.text_}}</a>
                        <div class="clearfix"></div>
                      </div>
                      <div class="note-footer">
                        {{=i.created_at.strftime('%d/%m/%Y')}} - {{=i.created_by.name}}
                      </div>
                      <div class="color-palette animated bounceIn">
                        <span class="thumb-color" data-color="#FFD180">{{if i.color == '#FFD180':}}<i class="icon-pallete-ok icon-ok"></i>{{pass}}</span>
                        <span class="thumb-color" data-color="#FF8A80">{{if i.color == '#FF8A80':}}<i class="icon-pallete-ok icon-ok"></i>{{pass}}</span>
                        <span class="thumb-color" data-color="#FFFF8D">{{if i.color == '#FFFF8D':}}<i class="icon-pallete-ok icon-ok"></i>{{pass}}</span>
                        <span class="thumb-color" data-color="#80D8FF">{{if i.color == '#80D8FF':}}<i class="icon-pallete-ok icon-ok"></i>{{pass}}</span>
                        <span class="thumb-color" data-color="#CCFF90">{{if i.color == '#CCFF90':}}<i class="icon-pallete-ok icon-ok"></i>{{pass}}</span>
                      </div>
                    </li>

                {{pass}}
                </ul>
            {{pass}}

            <!-- Notes with Group -->
            {{if 'groups_notes' in globals():}}
                {{for i in groups_notes:}}
                  {{ if i.position_: }}
                      {{ position = json.loads(i.position_) }}
                      <ul class="notes-container group-notes" data-type="group-notes" data-groupId="{{=i.id}}" style="left: {{=position['left']}}px; top: {{=position['top']}}px;">
                  {{ else: }}
                      <ul class="notes-container group-notes" data-type="group-notes" data-groupId="{{=i.id}}">
                  {{ pass }}
                    <h3 class="editable-click editable title-group" data-type="textarea" data-pk="{{=i.id}}" data-url="{{=URL('_update_items.json')}}" data-type-text="group-title">
                      {{=i.title}}

                    </h3>
                    {{ for note in i.notes: }}
                        <li class='{{=g_current_page("default/brainstorm/%s" %i.id,"active")}} note note--panel' data-id="{{=note.note_id}}" data-type='note' style="background-color: {{=note.note_id.color}}; position:relative">
                        <div class="note-header">
                          {{ if user_has_permission_for_delete_note(note.note_id.created_by): }}
                            <i class="icon-note-header icon-note-header--delete icon-trash" data-pk="{{=note.note_id.id}}"></i>
                            <i class="icon-note-header icon-note-header--color icon-tint" data-pk="{{=i.id}}"></i>

                          {{ pass }}
                          <div class="clearfix"></div>
                        </div>
                        <div class="note-content">
                          <a class="editable-click editable" data-type="textarea" data-pk="{{=note.note_id.id}}" data-url="{{=URL('_update_items.json')}}" data-type-text="note-text" style="display: inline;">{{=note.note_id.text_}}</a>
                          <div class="clearfix"></div>
                        </div>
                        <div class="note-footer">
                          {{=note.note_id.created_at.strftime('%d/%m/%Y')}} - {{=note.note_id.created_by.name}}
                        </div>
                          <div class="color-palette animated bounceIn">
                            <!-- note.color -->
                          <span class="thumb-color" data-color="#FFD180">{{if note.note_id.color == '#FFD180':}}<i class="icon-pallete-ok icon-ok"></i>{{pass}}</span>
                          <span class="thumb-color" data-color="#FF8A80">{{if note.note_id.color == '#FF8A80':}}<i class="icon-pallete-ok icon-ok"></i>{{pass}}</span>
                          <span class="thumb-color" data-color="#FFFF8D">{{if note.note_id.color == '#FFFF8D':}}<i class="icon-pallete-ok icon-ok"></i>{{pass}}</span>
                          <span class="thumb-color" data-color="#80D8FF">{{if note.note_id.color == '#80D8FF':}}<i class="icon-pallete-ok icon-ok"></i>{{pass}}</span>
                          <span class="thumb-color" data-color="#CCFF90">{{if note.note_id.color == '#CCFF90':}}<i class="icon-pallete-ok icon-ok"></i>{{pass}}</span>
                        </div>
                      </li>
                    {{ pass }}


                  </ul>
                {{pass}}

            {{ pass }}

        </div>
    </div><!--/row-->
</div><!--/container-fluid-->

