<aside id="chat">
    <!--chat-control-->
    <div class="loading"></div>
    <div id="chat-container">
        <div class="chat-control">
            <ul class="item grd-white">
                <li class="active"><a href="#contact" data-toggle="tab" title='{{=T("Team")}}'><i class="icon-adult"></i> {{=T("Team")}}</a></li>
                <li id="chat-group"><a href="#teamchat" data-toggle="tab" title='{{=T("Group Chat")}}'><i class="icon-group"></i> {{=T("Group Chat")}}</a></li>
                <li class="call_chat"><button class="btn-nostyle" title='{{=T("minimize")}}'><i class="icon-minus"></i></button></li>
                <li id="chat-config"><a href="#chatconfig" data-toggle="tab" title='{{=T("Group Chat")}}'><i class="icon-cog"></i></a></li>
            </ul>
        </div><!-- /chat-control-->
        <!-- chat-content -->
        <div id="chat-content">

            <div class="tab-content">
                <!--contact-->
                <div class="tab-pane fade active in" id="contact">
                    <!--contact-control-->
                    <div id="contact-control">
                        <div class="btn-group pull-right">
                            <button id="change_status" class="dropdown-toggle btn-nostyle" data-toggle="dropdown">
                                <i class="icon-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icofont-certificate color-green"></i> Online</a></li>
                                <li><a href="#"><i class="icofont-certificate color-silver-dark"></i> Offline</a></li>
                                <li><a href="#"><i class="icofont-certificate color-red"></i> {{=T("Busy")}}</a></li>
                            </ul>
                        </div>
                        <div id="user_container">

                        </div>
                    </div><!--/contact-control-->
                    <div class="side-contact">
                        <!--contact-list, we set this max-height:380px, you can set this if you want-->
                        <ul class="contact-list">

                        </ul><!--/contact-list-->
                    </div>
                </div><!--/contact-->

                <!--teamchat-->
                <div class="tab-pane fade" id="teamchat">
                    <div class="side-chat">

                        <div class="chat-messages" id="chat-messages">
                            <div id="chat-messages-inner" class="chat-content">

                            <a href="#" id="bottom-chat"><i class="icon-chevron-down icon-white"></i></a>
                            </div>
                        </div>
                        <!-- audio on message -->
                        <audio id="chatAudio"><source src='{{=URL("static", "audio/notify.ogg")}}' type="audio/ogg"><source src='{{=URL("static", "audio/notify.mp3")}}' type="audio/mpeg"><source src='{{=URL("static", "audio/notify.wav")}}' type="audio/wav"></audio>

                        <div id="chat-input">
                            <textarea  id="chat_message" class="input-block-level" placeholder='{{=T("chat here")}}...'></textarea>
                        </div>
                    </div>
                    <div class="divider-content"><span></span></div>
                </div><!-- /teamchat -->

                <!--chatconfig-->
                <div class="tab-pane fade" id="chatconfig">
                    <div id="chat_config">
                        <h5>{{=T("Notifications")}}</h5>
                        <button id="authorize_notification" class="btn btn-primary">{{=T("authorize")}}</button>
                        <br>
                        <br>
                        <span style="display:none;">OK</span>
                    </div>
                </div><!-- /chatconfig -->

            </div>
        </div><!-- /chat-content -->
    </div><!-- /chat-container -->
</aside><!-- /chat-->