<div id="header">
    <a href="{{=URL('index')}}" alt='Scrumforme Logo' title='Scrumforme Logo'><h1><span class="color-logo">Scrumfor</span>.me</h1></a>
    {{ if auth.is_logged_in(): }}
        <ul id="projects">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" alt='{{=T("New Project")}}' title='{{=T("New Project")}}'><i class="icon-plus"></i></a>

                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">

                {{ g_project = G_projects() }}
                {{ new_project = g_project.new_project() }}
                {{ all_projects = g_project.projects() }}

                {{=new_project.custom.begin}}
                    <!-- name -->
                    {{ new_project.elements('#projects_name')[0] ['_placeholder'] = T('Name') }}
                    {{ new_project.elements('#projects_name')[0] ['_required'] = "required" }}
                    {{=new_project.custom.widget.name}}
                    <!-- description -->
                    {{ new_project.elements('#projects_description')[0] ['_placeholder'] = T('Description') }}
                    {{=new_project.custom.widget.description}}
                    <!-- url -->
                    {{ new_project.elements('#projects_url')[0] ['_placeholder'] = T('Url') }}
                    {{ new_project.elements('#projects_url')[0] ['_type'] = T('url') }}
                    {{=new_project.custom.widget.url}}
                    <button type="submit" class="btn btn-primary btn-block">{{=T('Create Project')}}</button>
                {{=new_project.custom.end}}
                <br>
                </div>
            </li>

            {{p_count = 1}}
            {{for i in all_projects["person_projects"]:}}
                {{if p_count <= 6:}}
                    <li class='{{=g_current_page("default/%s/%s" %(request.function,i.id),"active")}}'><a href='{{=URL(c="default",f="board",args=[i.id])}}' class="tip-bottom" alt='{{=i.name}}' title='{{=i.name}}'>{{=p_count}}</a></li>
                {{p_count += 1}}
                {{pass}}
            {{pass}}
            {{for i in all_projects["shared_with_person"]:}}
                {{if p_count <= 10:}}
                    <li class='{{=g_current_page("default/%s/%s" %(request.function,i.project_id),"active")}}'><a href='{{=URL(c="default",f="board",args=[i.project_id])}}' class="tip-bottom" alt='{{=i.project_id.name}}' title='{{=i.project_id.name}}'>{{=p_count}}</a></li>
                {{p_count += 1}}
                {{pass}}
            {{pass}}
<!--             <li class="dropdown">
                <a href="#" id="all_projects_link" class="dropdown-toggle" data-toggle="dropdown" alt='{{=T("All Projects")}}' title='{{=T("All Projects")}}'>...</a>

                <div id="all_projects" class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">

                    {{if all_projects["person_projects"]:}}
                        <h3>{{=T('My Projects')}} <span class="label">{{=len(all_projects["person_projects"])}}</span></a></h3>
                        <ul>
                        {{for i in all_projects["person_projects"]:}}
                            <li>
                                <a href='{{=URL(c="default",f="product_backlog",args=[i.id])}}'>{{=i.name}}</a>
                                <button data-project="{{=i.id}}" class="delete_project btn btn-danger btn-mini">{{=T("delete")}}</button>
                            </li>
                        {{pass}}
                        </ul>
                    {{pass}}
                    {{if all_projects["shared_with_person"]:}}
                        <h3>{{=T('Projects that I am part')}} <span class="label">{{=len(all_projects["shared_with_person"])}}</span></a></h3>
                        <ul>
                        {{for i in all_projects["shared_with_person"]:}}
                            <li><a href='{{=URL(c="default",f="product_backlog",args=[i.project_id])}}'>{{=i.project_id.name}}</a></li>
                        {{pass}}
                        </ul>
                    {{pass}}

                </div>
            </li> -->
        </ul>
        <div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav">
                <li>
                    <form action="">
                        <div id="search">
                            <input type="text" placeholder='{{=T("Search here")}}'/><button type="submit" class="tip-right" alt='{{=T("Search")}}' title='{{=T("Search")}}'><i class="icon-search-custom"></i></button>
                        </div>
                    </form>
                </li>
                <li><a href='{{=URL(f="user",args="profile",vars={"_next":"index"})}}' alt='{{=T("Profile")}}' title='{{=T("Profile")}}'><i class="icon-user"></i></a></li>
                <li><a href='{{=URL(f="user",args="logout",vars={"_next":"index"})}}' alt='{{=T("Logout")}}' title='{{=T("Logout")}}'><i class="icon-logout-custom"></i></a></li>
            </ul>
        </div>
    {{ pass }}
</div>