{{ g_project = G_projects() }}
{{ new_project = g_project.newProject() }}
{{ person = g_project.projects() }}
{{ all_projects =  g_project.all_projects()}}

<div id="header">
    <a href="{{=URL('index')}}" id="logo" alt='Scrumforme Logo' title='Scrumforme Logo'>
      <h1><img src="{{=URL('static', 'img/scrumfor-me.png')}}" alt=""></h1>

    </a>
    <span class="separador"></span>
    {{ if auth.is_logged_in(): }}
        <ul id="projects">

            <div class="navbar pull-left">
              <ul class="nav">
                <li>
                    <div class="new_project_section">
                      <a id="new_project" class="fab-sfm dropdown_new_project dropdown-toggle pull-left" alt='{{=T("New Project")}}' title='{{=T("New Project")}}'>
                        <i class="icon-plus"></i>
                      </a>
                      <p>{{=T("New Project")}}</p>
                    </div>


                    <div class="dropdown-menu">
                        {{=new_project.custom.begin}}
                            <!-- name -->
                            {{ new_project.elements('#projects_name')[0] ['_placeholder'] = T('Name') }}
                            {{ new_project.elements('#projects_name')[0] ['_required'] = "required" }}
                            {{=new_project.custom.widget.name}}
                            <!-- description -->
                            {{ new_project.elements('#projects_description')[0] ['_placeholder'] = T('Description') }}
                            {{=new_project.custom.widget.description}}
                            <!-- url -->
                            {{ new_project.elements('#projects_url')[0] ['_placeholder'] = T('Url') }}
                            {{ new_project.elements('#projects_url')[0] ['_type'] = T('url') }}
                            {{=new_project.custom.widget.url}}
                            <!-- thumbnail -->
                            <div class="new_image">
                                {{ new_project.elements('#projects_thumbnail')[0] ['_type'] = "hidden" }}
                                {{=new_project.custom.widget.thumbnail}}
                            </div>
                            <button class="btn btn-info btn-mini btn_file" type="button">{{=T('Choose an image')}}</button>
                            <br>
                            <br>
                            <input type="submit" class="btn btn-primary btn_new_project" value='{{=T("Create")}}'>
                            <button class="btn btn-danger btn_new_project dropdown_new_project">{{=T('Cancel')}}</button>
                            <br>
                        {{=new_project.custom.end}}
                    </div>
                </li>
              </ul>
            </div>

        {{for my_project in person["last_projects"]:}}
            {{if my_project["project"]:}}
            <li class="last_projects">
                <a href='{{=URL(c="default",f="board",args=[my_project["project"].id])}}' class="list-projects">
                    {{ if my_project["project"].thumbnail:}}
                    <img class="tip-bottom" src='{{=URL("static","uploads/%s" %my_project["project"].thumbnail)}}' width="50px" height="50px" alt="{{=my_project["project"].name}}" title="{{=my_project["project"].name}}">
                    {{else:}}
                    <img class="tip-bottom" src='{{=URL("static","/img/no-image_project.jpg")}}' width="50px" height="50px" alt="{{=my_project["project"].name}}" title="{{=my_project["project"].name}}">
                    {{pass}}
                </a>
            </li>
            {{pass}}
        {{pass}}
        </ul>

        <div class="all-projects">
          <a href="#modalAllProjects" data-toggle="modal">
            <img src="{{=URL('static', 'img/all-projects.png')}}" alt="{{=T('All Projects')}}" title="{{=T('All Projects')}}">
            <p>{{=T("All Projects")}}</p>
          </a>

        </div>

        <span class="separador"></span>

        <div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav">
                <li><a href='#' alt='{{=T("Search")}}' title='{{=T("Search")}}'><i class="icon-header icon-search"></i></a></li>

                {{if request.args(0):}}
                    {{args = request.args(0) }}
                    {{args = "%s/%s" %(request.function, request.args(0)) }}
                {{else:}}
                    {{args = request.function}}
                {{pass}}
                <li><a href='{{=URL(f="user",args="profile",vars={"_next":args})}}' alt='{{=T("Profile")}}' title='{{=T("Profile")}}'><i class="icon-header icon-settings"></i></a></li>
                <li><a href='{{=URL(f="user",args="logout")}}' alt='{{=T("Logout")}}' title='{{=T("Logout")}}'><i class="icon-header icon-logout"></i></a></li>
            </ul>
        </div>
    {{ pass }}

    <!-- Modal All projects-->
    <div id="modalAllProjects" class="modal modal--all-projects hide fade" tabindex="-1" role="dialog" aria-labelledby="modalAllProjectsLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modalAllProjectsLabel">{{=T('All Projects')}}</h3>
        
      </div>
      <div class="modal-body">
        <ul>

          {{for i in all_projects:}}
            <li class="project-card">
              <a href="{{=URL('product_backlog', args=i.project_id)}}">
              <div class="project-card--header">
                <i class="icon icon-trash icon-project-card-delete" data-pk="666"></i>
              </div>
              <div class="project-card--content">
                {{ if i.project_id.thumbnail: }}
                  <img src="{{=URL("static","uploads/%s" %i.project_id.thumbnail)}}" alt="{{=i.project_id.name}}">
                {{ else: }}
                  <img src="{{=URL("static","/img/no-image_project.jpg")}}" alt="{{=i.project_id.name}}">
                {{ pass }}
                <div class="project-card--content-title">
                  <p class="trunc">{{=i.project_id.name}}</p>
                </div>
              </div>
              <div class="clear"></div>
              </a>
            </li>
          {{pass}}

        </ul>
      </div>
    </div>

</div>
