{{ g_project = G_projects() }}
{{ new_project = g_project.newProject() }}
{{ person = g_project.projects() }}

<div id="header">
    <a href="{{=URL('index')}}" id="logo" alt='Scrumforme Logo' title='Scrumforme Logo'><h1><span class="color-logo">Scrumfor</span>.me</h1></a>
    {{ if auth.is_logged_in(): }}
        <ul id="projects">

            <div class="navbar pull-left">
              <ul class="nav">
                <li>
                    <a href="#" id="new_project" class="dropdown_new_project dropdown-toggle btn btn-primary pull-left" alt='{{=T("New Project")}}' title='{{=T("New Project")}}'>
                            {{=T("New Project")}}

                    </a>

                    <div class="dropdown-menu">
                        {{=new_project.custom.begin}}
                            <!-- name -->
                            {{ new_project.elements('#projects_name')[0] ['_placeholder'] = T('Name') }}
                            {{ new_project.elements('#projects_name')[0] ['_required'] = "required" }}
                            {{=new_project.custom.widget.name}}
                            <!-- description -->
                            {{ new_project.elements('#projects_description')[0] ['_placeholder'] = T('Description') }}
                            {{=new_project.custom.widget.description}}
                            <!-- url -->
                            {{ new_project.elements('#projects_url')[0] ['_placeholder'] = T('Url') }}
                            {{ new_project.elements('#projects_url')[0] ['_type'] = T('url') }}
                            {{=new_project.custom.widget.url}}
                            <!-- thumbnail -->
                            <div class="new_image">
                                {{ new_project.elements('#projects_thumbnail')[0] ['_type'] = "hidden" }}
                                {{=new_project.custom.widget.thumbnail}}
                            </div>
                            <button class="btn btn-info btn-mini btn_file" type="button">{{=T('Choose an image')}}</button>
                            <br>
                            <br>
                            <input type="submit" class="btn btn-primary btn_new_project" value='{{=T("Create")}}'>
                            <button class="btn btn-danger btn_new_project dropdown_new_project">{{=T('Cancel')}}</button>
                            <br>
                        {{=new_project.custom.end}}
                    </div>
                </li>
              </ul>
            </div>

        {{for my_project in person["last_projects"]:}}
            {{if my_project["project"]:}}
            <li class="last_projects">
                <a href='{{=URL(c="default",f="board",args=[my_project["project"].id])}}' class="list-projects">
                    {{ if my_project["project"].thumbnail:}}
                    <img class="tip-bottom" src='{{=URL("static","uploads/%s" %my_project["project"].thumbnail)}}' width="50px" height="50px" alt="{{=my_project["project"].name}}" title="{{=my_project["project"].name}}">
                    {{else:}}
                    <img class="tip-bottom" src='{{=URL("static","/img/no-image_project.jpg")}}' width="50px" height="50px" alt="{{=my_project["project"].name}}" title="{{=my_project["project"].name}}">
                    {{pass}}
                </a>
            </li>
            {{pass}}
        {{pass}}

        </ul>
        <div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav">
                <li>
                    <form action="">
                        <div id="search">
                            <input type="text" placeholder='{{=T("Search here")}}'/><button type="submit" class="tip-right" alt='{{=T("Search")}}' title='{{=T("Search")}}'><i class="icon-search-custom"></i></button>
                        </div>
                    </form>
                </li>
                <li><a href='{{=URL(f="user",args="profile",vars={"_next":"index"})}}' alt='{{=T("Profile")}}' title='{{=T("Profile")}}'><i class="icon-user"></i></a></li>
                <li><a href='{{=URL(f="user",args="logout",vars={"_next":"index"})}}' alt='{{=T("Logout")}}' title='{{=T("Logout")}}'><i class="icon-logout-custom"></i></a></li>
            </ul>
        </div>
    {{ pass }}
</div>
