{{extend 'default/layout_base.html'}}

<div id="sub-header-content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="#" class="current" title="{{=T('Home')}}" ><i class="icon-home"></i> {{=T('Home')}}</a>
        </div>
        <div id="header-name" class="pull-left">
            <h1>{{=T('Dashboard')}}</h1>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="container-fluid">
	<h4>{{=T('Welcome to Scrumforme and enjoy!')}}</h4>
</div>
