<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->

  <title>Scrumforme - Ferramenta Scrum e Kanban simplificando o trabalho em equipe.</title>
  <meta name="description" content="Aprenda a usar uma ferramenta de metodologia Agile para gestão de projetos em equipe Scrum." />
  <meta name="keywords" content="scrum, kanban, metodologia scrum, equipe scrum, scrum online, scrum board, scrum tool, scrum master, agile, sprint, backlog, burndown, lean." />

  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
     http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href='{{=URL("static","css/bootstrap.min.css")}}' />
  <link rel="stylesheet" href='{{=URL("static","css/bootstrap-responsive.min.css")}}' />
  <link rel="stylesheet" href='{{=URL("static","css/elusive-webfont.css")}}'>

  <link rel="stylesheet" href='{{=URL("static","css/tela-login-registro.css")}}' />
  <link rel="stylesheet" href='{{=URL("static","css/home-syle.css")}}' />


  <!--[if lt IE 9]>
      <script src='{{=URL("static","js/jquery-1.9.1.min.js")}}'></script>
  <![endif]-->

  <!--[if gte IE 9]><!-->
      <script src='{{=URL("static","js/jquery-2.0.0.min.js")}}'></script>
  <!--[endif]-->


  <script src='{{=URL("static","js/web2py.js")}}'></script>
  <script src='{{=URL("static","js/tela-login-registro.js")}}'></script>
</head>

<body>
    <a href="https://github.com/kolaborativa/scrumforme" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>
    <div>
      <header>
        <div id="texto-logo"><a href="{{=URL('index')}}" alt='Scrumforme Logo' title='Scrumforme Logo'><h1><p><img src='{{=URL("static","img/scrumfor-me.png")}}'></p></h1></a>
            <p>{{=T("THE SCRUMFORME MEANT TO BE EASY, ORGANIZED AND ACCESSIBLE.")}}</p><br>
            <p>{{=T("INSPIRED BY AGILE METHODOLOGY USING SCRUM AND KANBAN SIMPLIFYING TEAMWORK.")}}</p>
        </div>

        {{ if not auth.is_logged_in(): }}
            <div class="bloco_grande">
              <div class="menu">
                <a href="#" id="login_index"><div>LOGIN</div></a>
                <a href="#" id="registro_index"><div>REGISTRO</div></a>
              </div>

              <div class="conteudo">
                <div id="entrar">
                  {{=form.custom.begin}}
                  <ul class="menu_login">
                    <!-- email -->
                    <li><i class="form-homepage-icon icon-envelope"></i>
                      {{ form.elements('#auth_user_email')[0] ['_placeholder'] = T("Email") }}
                      {{ form.elements('#auth_user_email')[0] ['_type'] = "email" }}
                      {{ form.elements('#auth_user_email')[0] ['_required'] = "required" }}
                      {{=form.custom.widget.email}}
                    </li>
                    <!-- password -->
                    <li><i class="form-homepage-icon icon-key"></i>
                      {{ form.elements('#auth_user_password')[0] ['_placeholder'] = T("Password") }}
                      {{ form.elements('#auth_user_password')[0] ['_required'] = "required" }}
                      {{=form.custom.widget.password}}
                    </li>

                    <li><input class="checkbox" id="auth_user_remember" name="remember" type="checkbox" value="on" /><small> {{=T("Remember me (for 30 days)")}}</small></li>
                    <div class="menu_login--links">
                        <li class="link"><a class="link-color" href="{{=URL(f='user',args='request_reset_password')}}">{{=T("Lost password?")}}</a></li>
                        <li class="link"><input class="scrumforme-button-success" type="submit" id="sign-in" value='{{=T("Sign in")}}'></li>
                    </div>
                    <div style="clear:both"></div>
                  </ul>
                  {{=form.custom.end}}
                </div>
                <div id="registro">
                  <!-- Since register not working this is not a form. Will change in near future -->
                  <ul class="menu_registro">
                    <li><i class="form-homepage-icon icon-user"></i><input type="text" placeholder="Usuário"></li>
                    <li><i class="form-homepage-icon icon-envelope"></i><input type="email" placeholder="Email"></li>
                    <li><i class="form-homepage-icon icon-key"></i><input type="password" placeholder="Senha"></li>
                    <li><i class="form-homepage-icon icon-key"></i><input type="password" placeholder="Confirme a senha"></li>
                    <li><input id="register" type="submit" class="scrumforme-button-success" value="{{=T("Sign up")}}"></li>
                  </ul>
                </div>
              </div>


          </div> <!-- bloco grande -->
        {{else:}}
            <div class="button-chamada-meus-projetos">
                <a href="{{=URL('projects')}}" class="scrumforme-button-success scrumforme-button-success__big-button">{{=T('My Projects')}}</a>
            </div>
        {{pass}}
    </header>

  </div>

    <footer>
      <p>
        Copyleft © 2015 Scrumforme. Desenvolvido por <a href="http://x4start.com" target="_blank">X4 Start</a> & <a href="http://kolaborativa.com" target="_blank">Kolaborativa</a>
      </p>
    </footer>

<script src='{{=URL("static","js/bootstrap-custom.min.js")}}'></script>
<script>
$(document).ready(function()
{
  //Handles menu drop down
  $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
        });
  });
</script>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Bi2xqa4NNvPpiavFveZsdA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'support',
  forum_id: 207481,
  tab_label: 'Feedback',
  tab_color: '#292929',
  tab_position: 'bottom-right',
  tab_inverted: false
}]);
</script>

</body>
</html>
