<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
    <head>
        <title>{{=response.title or request.application}}</title>
        <!--[if !HTML5]>
          <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
        <![endif]-->
        <!-- www.phpied.com/conditional-comments-block-downloads/ -->
        <!-- Always force latest IE rendering engine
           (even in intranet) & Chrome Frame
           Remove this if you use the .htaccess -->
           
        <meta charset="utf-8" />

        <!-- http://dev.w3.org/html5/markup/meta.name.html -->
        <meta name="application-name" content="{{=request.application}}" />

        <!-- Speaking of Google, don't forget to set your site up:
           http://google.com/webmasters -->
        <meta name="google-site-verification" content="" />

        <!--  Mobile Viewport Fix
            j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
            device-width: Occupy full width of the screen in its current orientation
            initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
            user-scalable = yes allows the user to zoom in -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
        
        <link rel="stylesheet" href='{{=URL("static","css/bootstrap.min.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/bootstrap-responsive.min.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/base.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/base.grey.css")}}' class="skin-color" />
        <link rel="stylesheet" href='{{=URL("static","css/bootstrap-editable.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/nanoscroller.css")}}' />
        
        {{ if request.function == "product_backlog": }}
        <link rel="stylesheet" href='{{=URL("static","css/product_backlog.css")}}' />
        {{ elif request.function == "board": }}
        <link rel="stylesheet" href='{{=URL("static","css/board.css")}}' />
        {{pass}}
        
        <!-- google font -->
        <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    </head>
    <body class='{{=g_pagina_atual("default/board/%s" %request.args(0),"close_sidebar")}}'>
        
        <div id="header">
            <h1><a href="{{=URL('projects')}}"><span class="color-logo">Scrumfor</span>.me</a></a></h1>       
            <button id="toogle_sidebar" title="{{=T('Expand / Collapse Sidebar')}}" class="tip-right"><i class="icon-chevron-left icon-white"></i></button>
        </div>

        <div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                {{ if auth.is_logged_in(): }}
                    <li>
                        <form action="">
                            <div id="search">
                                <input type="text" placeholder='{{=T("Search here")}}'/><button type="submit" class="tip-right" title='{{=T("Search")}}'><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </li>
                    <li><a title="" href='{{=URL(f="user",args="profile",vars={"_next":"index"})}}'><i class="icon-config"></i></a></li>
                    <li><a title="" href='{{=URL(f="user",args="logout",vars={"_next":"index"})}}'><i class="icon-logout"></i></a></li>
                {{ pass }}
            </ul>
        </div>
            
        <div id="sidebar" class="close_sidebar">
            <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
            <ul>
                <li class='{{=g_pagina_atual("default/index","active")}}'><a href='{{=URL("index")}}'><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
                <li class='{{=g_pagina_atual("default/projects","active")}}'><a href="{{=URL('projects')}}"><i class="icon icon-plus-sign"></i> <span>{{=T('New Project')}}</span></a></li>
                {{if "all_projects" in globals():}}
                <li class='submenu'>
                    <a href="#"><i class="icon icon-th-list"></i> <span>{{=T('My Projects')}}</span> <span class="label">{{=len(all_projects)}}</span></a>
                    <ul>
                        {{for i in all_projects:}}
                            <li class='{{=g_pagina_atual("default/product_backlog/%s" %request.args(0),"active")}} {{=g_pagina_atual("default/board/%s" %i.id,"active")}}'><a href='{{=URL(c="default",f="product_backlog",args=[i.id])}}'>{{=i.name}}</a></li>
                        {{pass}}
                    </ul>
                </li>                
                {{pass}}
                {{if request.function == "product_backlog" or request.function == "board":}}
                {{if request.function == "board":}}
                <li class='submenu active'>
                {{else:}}
                <li class='submenu active open'>
                {{pass}}
                    <a href="#"><i class="icon icon-cog"></i> <span>{{=T('Project')}}</span></a>
                    <ul>
                        <li class='{{=g_pagina_atual("default/board/%s" %request.args(0),"active")}}'><a href='{{=URL(f="board",args=[request.args(0)])}}'>Board</a></li>
                        <li class='{{=g_pagina_atual("default/product_backlog/%s" %request.args(0),"active")}}'><a href='{{=URL(f="product_backlog",args=[request.args(0)])}}'>{{=T('Backlog')}}</a></li>
                        <li><a href="#">{{=T('Sprints')}}</a></li>
                        <li><a href="#">{{=T('Archives')}}</a></li>
                        <li><a href="#">{{=T('Team')}}</a></li>
                        <li><a href="#">{{=T('Invite')}}</a></li>
                    </ul>
                </li>
                {{pass}}
                <li><a href="#"><i class="icon  icon-user"></i> <span>{{=T('Contacts')}}</span></a></li>
            </ul>

        </div>
        
        <div id="content">

            {{include}}
            
            {{if request.function == "index":}}
            <br>
            <br>
            <div class="row-fluid">
                <div id="footer" class="span12">
                    <div class="copyright pull-left">{{=T('Copyleft')}} <!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
                    <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
                        &copy;
                    </span>
                    <!--[if lte IE 8]></span><![endif]--> {{=request.now.year}}</div>

                    <div id="poweredBy" class="pull-right">
                        {{=T('Powered by')}}
                        <a href="http://www.web2py.com/">web2py</a>
                    </div>
                </div>
            </div>
            {{pass}}
        </div>

            <script src='{{=URL("static","js/jquery.min.js")}}'></script>
            <script src='{{=URL("static","js/bootstrap.min.js")}}'></script>
            <script async defer src="{{=URL('static','js/web2py.js')}}"></script>
            <script async defer src='{{=URL("static","js/base.js")}}'></script>
            {{ if request.function == "product_backlog": }}
            <script src="{{=URL('static','js/bootstrap-editable.min.js')}}"></script>
            <script async defer src="{{=URL('static','js/product_backlog.js')}}"></script>
            <script src="{{=URL('static','js/jquery.nanoscroller.min.js')}}"></script>
            <script async defer>
                $(".window").nanoScroller({ sliderMaxHeight: 100, preventPageScrolling: true });
            </script>
            {{ pass }}
    </body>
</html>
