<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
    <head>
        <!--[if !HTML5]>
          <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
        <![endif]-->
        <!-- www.phpied.com/conditional-comments-block-downloads/ -->
        <!-- Always force latest IE rendering engine
           (even in intranet) & Chrome Frame
           Remove this if you use the .htaccess -->
        <title>Scrumforme | {{=response.title or request.function}}</title>
        <meta name="description" content="Aprenda a usar uma ferramenta de metodologia Agile para gestão de projetos em equipe Scrum." />
        <meta name="keywords" content="scrum, kanban, metodologia scrum, equipe scrum, scrum online, scrum board, scrum tool, scrum master, agile, sprint, backlog, burndown, lean." />

        <meta charset="utf-8" />

        <!-- http://dev.w3.org/html5/markup/meta.name.html -->
        <meta name="application-name" content="{{=request.application}}" />

        <!-- Speaking of Google, don't forget to set your site up:
           http://google.com/webmasters -->
        <meta name="google-site-verification" content="" />

        <!--  Mobile Viewport Fix
            j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
            device-width: Occupy full width of the screen in its current orientation
            initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
            user-scalable = yes allows the user to zoom in -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- redirect if javascript is desabled -->
        <noscript><meta http-equiv="refresh" content='0; url={{=URL("nojs")}}'></noscript>

        <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

        <!-- Bootstrap -->
        <link rel="stylesheet" href='{{=URL("static","css/bootstrap.min.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/bootstrap-responsive.min.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/elusive-webfont.css")}}'>

        <link rel="stylesheet" href='{{=URL("static","css/base.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/base.grey.css")}}' class="skin-color" />
        <link rel="stylesheet" href='{{=URL("static","css/bootstrap-editable.css")}}' />
        <!-- image upload -->
        <link rel="stylesheet" href='{{=URL("static","css/imgareaselect-default.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/jquery.awesome-cropper.css")}}' />

        {{ if request.function == "product_backlog": }}
        <link rel="stylesheet" href='{{=URL("static","css/product_backlog.css")}}' />
        {{ elif request.function == "board": }}
        <link rel="stylesheet" href='{{=URL("static","css/datepicker.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/floatfixed.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/board.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/card_modal.css")}}' />
        {{ elif request.function == "card": }}
        <link rel="stylesheet" href='{{=URL("static","css/datepicker.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/floatfixed.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/board.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/card_modal.css")}}' />
        {{ elif request.function == "statistics": }}
        <link rel="stylesheet" href='{{=URL("static","css/statistics.css")}}' />
        {{ elif request.function == "team": }}
        <link rel="stylesheet" href='{{=URL("static","css/select2.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/team.css")}}' />
        {{ elif request.function == "sprints": }}
        <link rel="stylesheet" href='{{=URL("static","css/sprints.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/card_modal.css")}}' />
        {{pass}}

        {{ if not request.function == "projects": }}
        <!-- chat -->
        <link rel="stylesheet" href='{{=URL("static","css/chat.css")}}' />
        {{pass}}

    </head>

    <body class='{{=g_current_page("default/board/%s" %request.args(0),"close_sidebar")}}'>
        <div class="flash">{{=response.flash or ''}}</div>
        <div class="loading_item">
            <h4>
            <img src='{{=URL("static", "img/ajax-loader.gif")}}'>
            {{=T("Loading")}}...</h4>
        </div>


        {{include "default/header.html"}}

        <div id="sidebar" class="close_sidebar">
            <a href="#" class="visible-phone"><i class="icon-th-list"></i> {{=T('Menu')}}</a>
            <ul class="sidebar-fixed">
                <!-- <li class='{{=g_current_page("default/index","active")}}'><a href='{{=URL("index")}}'><i class="icon-home"></i> <span>Dashboard</span></a></li> -->
                {{ if auth.is_logged_in(): }}
                    <li class='{{=g_current_page("default/projects","active")}}'><a href='{{=URL("projects")}}' class="tip-right" alt="{{=T('My Projects')}}" title="{{=T('My Projects')}}"><i class="icon-dashboard"></i> <span>{{=T('My Projects')}}</span></a></li>
                    {{if not request.function == "projects":}}
                        <li class='{{=g_current_page("default/board/%s" %request.args(0),"active")}}'><a href='{{=URL(f="board",args=[request.args(0)])}}' class="tip-right" alt="{{=T('Board')}}" title="{{=T('Board')}}"><i class="icon-list-alt"></i> <span>{{=T('Board')}}</span></a></li>
                        <li class='{{=g_current_page("default/product_backlog/%s" %request.args(0),"active")}}'><a href='{{=URL(f="product_backlog",args=[request.args(0)])}}' class="tip-right" alt="{{=T('Backlog')}}" title="{{=T('Backlog')}}"><i class="icon-tasks"></i> <span>{{=T('Backlog')}}</span></a></li>
                        <li class='{{=g_current_page("default/sprints/%s" %request.args(0),"active")}}'><a href='{{=URL(f="sprints",args=[request.args(0)])}}' class="tip-right" alt="{{=T('Sprints')}}" title="{{=T('Sprints')}}"><i class="icon-credit-card"></i> <span>{{=T('Sprints')}}</span></a></li>
                        <li><a href="#" class="tip-right" alt="{{=T('Archives')}}" title="{{=T('Archives')}}"><i class="icon-file"></i> <span>{{=T('Archives')}}</span></a></li>
                        <li class='{{=g_current_page("default/team/%s" %request.args(0),"active")}}'><a href='{{=URL(f="team",args=[request.args(0)])}}' class="tip-right" alt="{{=T('Team')}}" title="{{=T('Team')}}"><i class="icon-group"></i> <span>{{=T('Team')}}</span></a></li>
                        <li class='{{=g_current_page("default/statistics/%s" %request.args(0),"active")}}'><a href='{{=URL(f="statistics",args=[request.args(0)])}}' class="tip-right" alt="{{=T('Statistics')}}" title="{{=T('Statistics')}}"><i class="icon-graph "></i> <span>{{=T('Statistics')}}</span></a></li>
                    {{pass}}
                    <li><button id="toogle_sidebar" class="tip-right" alt="{{=T('Expand / Collapse Menu')}}" title="{{=T('Expand / Collapse Menu')}}"><i class='{{=g_if_in_current_page("default/board/%s" %request.args(0),"icon-chevron-right", "icon-chevron-left")}} icon-white'></i> <span>{{=T('Collapse Menu')}}</span></button></li>
                {{else:}}
                    <li><a href='{{=URL(f="user", args="login")}}' alt='{{=T("Login")}}' title='{{=T("Login")}}'><i class="icon-smiley-alt"></i> <span>{{=T('Login')}}</span></a></li>
                    <li><a href='{{=URL(f="user", args="register")}}' alt='{{=T("Sign up")}}' title='{{=T("Sign up")}}'><i class="icon-plus-sign"></i> <span>{{=T('Sign up')}}</span></a></li>
                {{pass}}
            </ul>

        </div>

        <div id="content" class="container">
            {{include "default/breadcrumb.html"}}

            {{include}}
            <div class="row-fluid">
                <div id="footer" class="span12">
                    {{=T('Copyleft')}} <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">&copy;</span> {{=request.now.year}} Scrumforme. {{=T('Developed by')}} <a href="http://agenciax4.com.br">AgenciaX4</a>
                </div>
            </div>
        </div>


            <!--[if lt IE 9]>
                <script src='{{=URL("static","js/jquery-1.9.1.min.js")}}'></script>
            <![endif]-->

            <!--[if gte IE 9]><!-->
                <script src='{{=URL("static","js/jquery-2.0.0.min.js")}}'></script>
            <!--[endif]-->

            <script src='{{=URL("static","js/web2py.js")}}'></script>
            <script src="{{=URL('static','js/jquery-ui-1.10.3.custom.min.js')}}"></script>
            <script src='{{=URL("static","js/bootstrap.min.js")}}'></script>
            <script src='{{=URL("static","js/base.js")}}'></script>
            <!-- image upload -->
            <script src="{{=URL('static','js/jquery.imgareaselect.min.js')}}"></script>
            <script src="{{=URL('static','js/jquery.awesome-cropper.js')}}"></script>
            {{ if not request.function == "projects": }}
            <script src='{{=URL("static","js/bootstrap-editable.min.js")}}'></script>
            <script async defer src="{{=URL('static','js/jquery.ui.touch-punch.min.js')}}"></script>
            <script src='{{=URL("static","js/urlize.js")}}'></script>
            <script src='{{=URL("static","js/date.format.js")}}'></script>
            <!-- chat -->
            {{include "default/chat.html"}}
            <button class="call_chat button_chat btn btn-success" alt="Chat" title="Chat"><i class="icon-comment-alt"></i> Chat</button>
            <script src='{{=URL("static","js/chat.js")}}'></script>
            <!-- call realtime JS -->
            <script>
                var infoGlobal = {
                        project_id : '{{=request.args(0)}}',
                    };
            </script>
            <script src='{{=URL("static","js/realtime.js")}}'></script>
            {{ pass }}

            {{ if request.function == "product_backlog": }}
            <script src='{{=URL("static","js/product_backlog.js")}}'></script>
            <script src="{{=URL('static','js/jquery.ajax-awesome-cropper.js')}}"></script>
            {{ elif request.function == "board": }}
            <script src='{{=URL("static","js/board.js")}}'></script>
            <script src='{{=URL("static","js/board-editable.js")}}'></script>
            <script src='{{=URL("static","js/board-card.js")}}'></script>
            <script src='{{=URL("static","js/board-modal.js")}}'></script>
            <script src='{{=URL("static","js/jquery.livesearch.js")}}'></script>
            <script src='{{=URL("static","js/board-livesearch.js")}}'></script>
            <script src='{{=URL("static","js/floatfixed.js")}}'></script>
            <script async defer src="{{=URL('static','js/bootstrap-datepicker.js')}}"></script>

            {{ elif request.function == "card": }}
            <script src='{{=URL("static","js/jquery-2.0.0.min.js")}}'></script>
            <script src='{{=URL("static","js/bootstrap.min.js")}}'></script>
            <script src='{{=URL("static","js/board.js")}}'></script>
            <script src='{{=URL("static","js/board-editable.js")}}'></script>
            <script src='{{=URL("static","js/board-card.js")}}'></script>
            <script src='{{=URL("static","js/card-modal.js")}}'></script>
            <script src='{{=URL("static","js/jquery.livesearch.js")}}'></script>
            <script src='{{=URL("static","js/board-livesearch.js")}}'></script>
            <script src='{{=URL("static","js/floatfixed.js")}}'></script>
            <script async defer src="{{=URL('static','js/bootstrap-datepicker.js')}}"></script>
            <script type="text/javascript">
                $('.the_comment').each(function(e){$(this).html(
                    urlize($(this).text(), {nofollow: true, autoescape: true, target: "_blank"})
                )});
            </script>

            {{ elif request.function == "projects": }}
            <script async defer src='{{=URL("static","js/delete_project.js")}}'></script>

            {{ elif request.function == "statistics": }}
            <script src='{{=URL("static","js/highcharts/highcharts.js")}}'></script>
            <script src='{{=URL("static","js/highcharts/modules/exporting.js")}}'></script>
            <script async defer src='{{=URL("static","js/statistics.js")}}'></script>

            {{ elif request.function == "team": }}
            <script src='{{=URL("static","js/select2.min.js")}}'></script>
            <script src='{{=URL("static","js/team.js")}}'></script>

            {{ elif request.function == "sprints": }}
            <script src='{{=URL("static","js/sprints-modal.js")}}'></script>
            <script src='{{=URL("static","js/jquery.livesearch.js")}}'></script>
            <script src='{{=URL("static","js/sprints.js")}}'></script>
            {{ pass }}


            <!-- UserVoice JavaScript SDK (only needed once on a page) -->
            <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Bi2xqa4NNvPpiavFveZsdA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

            <!-- A tab to launch the Classic Widget -->
            <script>
            UserVoice = window.UserVoice || [];
            UserVoice.push(['showTab', 'classic_widget', {
              mode: 'full',
              primary_color: '#cc6d00',
              link_color: '#007dbf',
              default_mode: 'support',
              forum_id: 207481,
              tab_label: 'Feedback',
              tab_color: '#292929',
              tab_position: 'bottom-left',
              tab_inverted: false
            }]);
            </script>

            <!--[if lte IE 7]><script src='{{=URL("static","js/lte-ie7.js")}}'>></script><![endif]-->
    </body>
</html>
