<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
    <head>
        <title>{{=response.title or request.application}}</title>
        <!--[if !HTML5]>
          <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
        <![endif]-->
        <!-- www.phpied.com/conditional-comments-block-downloads/ -->
        <!-- Always force latest IE rendering engine
           (even in intranet) & Chrome Frame
           Remove this if you use the .htaccess -->
           
        <meta charset="utf-8" />

        <!-- http://dev.w3.org/html5/markup/meta.name.html -->
        <meta name="application-name" content="{{=request.application}}" />

        <!-- Speaking of Google, don't forget to set your site up:
           http://google.com/webmasters -->
        <meta name="google-site-verification" content="" />

        <!--  Mobile Viewport Fix
            j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
            device-width: Occupy full width of the screen in its current orientation
            initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
            user-scalable = yes allows the user to zoom in -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
        
        <link rel="stylesheet" href='{{=URL("static","css/bootstrap.min.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/bootstrap-responsive.min.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/unicorn.main.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/unicorn.grey.css")}}' class="skin-color" />
        <link rel="stylesheet" href='{{=URL("static","css/bootstrap-editable.css")}}' />
        <link rel="stylesheet" href='{{=URL("static","css/product_backlog.css")}}' />
        {{include 'web2py_ajax.html'}}
    </head>
    <body>
        <div class="flash">{{=response.flash or ''}}</div>

        
        <div id="header">
            <h1><a href="{{=URL('projects')}}">Scrumfor.me</a></h1>       
        </div>

        <div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
<!--                 <li class="btn btn-inverse" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
                <li class="btn btn-inverse dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="sAdd" title="" href="#">new message</a></li>
                        <li><a class="sInbox" title="" href="#">inbox</a></li>
                        <li><a class="sOutbox" title="" href="#">outbox</a></li>
                        <li><a class="sTrash" title="" href="#">trash</a></li>
                    </ul>
                </li> -->
        <li>
        <div id="search">
            <input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
        </div>
        </li>
                <li class="btn btn-inverse"><a title="" href='{{=URL(f="user",args="profile",vars={"_next":"index"})}}'><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
                <li class="btn btn-inverse"><a title="" href='{{=URL(f="user",args="logout",vars={"_next":"index"})}}'><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
        <div id="sidebar">
            <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
            <ul>
                <li class="active"><a href="#"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
                <li><a href="{{=URL('projects')}}"><i class="icon icon-tint"></i> <span>Projects</span></a></li>
                <!-- <li class="submenu">
                    <a href="#"><i class="icon icon-th-list"></i> <span>Form elements</span> <span class="label">3</span></a>
                    <ul>
                        <li><a href="form-common.html">Common elements</a></li>
                        <li><a href="form-validation.html">Validation</a></li>
                        <li><a href="form-wizard.html">Wizard</a></li>
                    </ul>
                </li>
                <li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Interface elements</span></a></li>
                <li><a href="tables.html"><i class="icon icon-th"></i> <span>Tables</span></a></li>
                <li><a href="grid.html"><i class="icon icon-th-list"></i> <span>Grid Layout</span></a></li>
                <li class="submenu">
                    <a href="#"><i class="icon icon-file"></i> <span>Sample pages</span> <span class="label">4</span></a>
                    <ul>
                        <li><a href="invoice.html">Invoice</a></li>
                        <li><a href="chat.html">Support chat</a></li>
                        <li><a href="calendar.html">Calendar</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                    </ul>
                </li>
                <li>
                    <a href="charts.html"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a>
                </li>
                <li>
                    <a href="widgets.html"><i class="icon icon-inbox"></i> <span>Widgets</span></a>
                </li> -->
            </ul>
        
        </div>
        
        <div id="content">
<!--            <div id="content-header">
                <h1>Dashboard</h1>
            </div> -->
            <div id="breadcrumb">
                <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
                <a href="#" class="current">Dashboard</a>
            </div>
            <div class="container-fluid">
<!--                 <div class="row-fluid">
                    <div class="span12 center" style="text-align: center;">
                    </div>  
                </div>
                <div class="row-fluid">
                    <div class="span12">                
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                    </div>
                    <div class="span6">
                    </div>
                </div> -->
                {{include}}

                <div class="row-fluid">
                    <div id="footer" class="span12">
                        <div class="copyright pull-left">{{=T('Copyleft')}} <!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
                        <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
                            &copy;
                        </span>
                        <!--[if lte IE 8]></span><![endif]--> {{=request.now.year}}</div>

                        <div id="poweredBy" class="pull-right">
                            {{=T('Powered by')}}
                            <a href="http://www.web2py.com/">web2py</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <script src='{{=URL("static","js/jquery.min.js")}}'></script>
            <script src='{{=URL("static","js/bootstrap.min.js")}}'></script>
            <script src='{{=URL("static","js/unicorn.js")}}'></script>
            {{ if request.function == "product_backlog": }}
            <script src="{{=URL('static','js/bootstrap-editable.min.js')}}"></script>
            <script src="{{=URL('static','js/product_backlog.js')}}"></script>
            {{ pass }}
    </body>
</html>
