<div class="container">
    <section id="register">
        <div class="hgroup">
            <h1>{{=T("Register or Sign in")}}</h1>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">signin</a></li>
            <li><a href="#tab2" data-toggle="tab">signup</a></li>
            </ul>
            <div class="tab-content"> 
            <div class="tab-pane active signin span6" id="tab1">

                <div class="social_sign">
                    <h3>{{=T("Sign in with your social account")}}</h3>
                    <a class="fb" href="#facebook"><i class="icon icon-facebook"></i></a> <a class="tw" href="#twitter"><i class="icon icon-twitter"></i></a> <a class="gp" href="#googleplus"><i class="icon icon-google-plus"></i></a>
                </div>

                <div class="or">
                    <div class="or_l"></div>
                        <span>{{=T("or")}}</span>
                    <div class="or_r"></div>
                </div>

                <p class="sign_title">{{=T("Log in with your scrumforme account")}}</p>

                <div class="form">
                        {{=form_login.custom.begin}}
                            <!-- email -->
                            {{ form_login.elements('#auth_user_email')[0] ['_placeholder'] = T("Email") }}
                            {{ form_login.elements('#auth_user_email')[0] ['_type'] = "email" }}
                            {{ form_login.elements('#auth_user_email')[0] ['_class'] = "input-xlarge" }}
                            {{ form_login.elements('#auth_user_email')[0] ['_required'] = "required" }}
                            {{=form_login.custom.widget.email}}

                            <!-- senha -->
                            {{ form_login.elements('#auth_user_password')[0] ['_placeholder'] = T("Password") }}
                            {{ form_login.elements('#auth_user_password')[0] ['_class'] = "input-xlarge" }}
                            {{ form_login.elements('#auth_user_password')[0] ['_required'] = "required" }}
                            {{=form_login.custom.widget.password}}

                            <div class="forgot">
                                <label for="auth_user_remember" class="checkbox">
                                <input class="checkbox" id="auth_user_remember" name="remember" type="checkbox" value="on" /> {{=T("Remember me (for 30 days)")}}
                                </label><a id="reset_password" href="{{=URL(f='user',args='request_reset_password')}}">{{=T("Lost password?")}}</a>
                            </div>

                            <button type="submit" class="btn btn-primary btn-large">{{=T("Sign in")}}</button>
                        {{=form_login.custom.end}}
                </div>

            </div>

            <div class="tab-pane signup span6" id="tab2">
                {{=form_register.custom.begin}}
                    <fieldset>
                        <div class="social_sign">
                            <h3>{{=T("Don't have a account yet? Create one now!")}}</h3>
                            <a><i class="icon-user"></i></a>
                        </div>

                            <!-- primeiro nome -->
                            {{ form_register.elements('#auth_user_first_name')[0] ['_placeholder'] = T("First name") }}
                            {{ form_register.elements('#auth_user_first_name')[0] ['_class'] = "input-xlarge" }}
                            {{ form_register.elements('#auth_user_first_name')[0] ['_required'] = "required" }}
                            {{=form_register.custom.widget.first_name}}

                            <!-- ultimo nome -->
                            {{ form_register.elements('#auth_user_last_name')[0] ['_placeholder'] = T("Last name") }}
                            {{ form_register.elements('#auth_user_last_name')[0] ['_class'] = "input-xlarge" }}
                            {{=form_register.custom.widget.last_name}}

                            <!-- email -->
                            {{ form_register.elements('#auth_user_email')[0] ['_placeholder'] = T("Email") }}
                            {{ form_register.elements('#auth_user_email')[0] ['_type'] = "email" }}
                            {{ form_register.elements('#auth_user_email')[0] ['_class'] = "input-xlarge" }}
                            {{ form_register.elements('#auth_user_email')[0] ['_required'] = "required" }}
                            {{=form_register.custom.widget.email}}

                            <!-- senha -->
                            {{ form_register.elements('#auth_user_password')[0] ['_placeholder'] = T("Password") }}
                            {{ form_register.elements('#auth_user_password')[0] ['_class'] = "input-xlarge register_password" }}
                            {{ form_register.elements('#auth_user_password')[0] ['_required'] = "required" }}
                            {{=form_register.custom.widget.password}}

                            <!-- confirmacao da senha -->
                            {{ form_register.element(_name='password_two')['_placeholder'] = T("Verify Password") }}
                            {{ form_register.element(_name='password_two')['_class'] = "input-xlarge" }}
                            {{ form_register.element(_name='password_two')['_required'] = "required" }}
                            {{=form_register.custom.widget.password_two}}

                        <label class="checkbox">
                            <input name="checkboxes" value="Option one" type="checkbox" required>
                            {{=T("I agree to the")}} <a data-toggle="modal" href="#terms_conditions" title='{{=T("terms and conditions")}}'>{{=T("terms and conditions")}}</a>
                        </label>

                        <button type="submit" class="btn btn-success btn-large">{{=T("Create your account")}}</button>

                    </fieldset>
                {{=form_register.custom.end}}
            </div>
            </div>  
        </div>
    </section>
</div>


<!-- OS TERMOS DE COMPROMISSO VAO ESCRITOS AQUI -->
<div id="terms_conditions" class="modal hide fade">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>{{=T("Terms of Agreement")}}</h3>
    </div>
    <div class="modal-body">
        <h4>{{=T("User Privacy")}}:</h4>
        <ul>
            <li>{{=T("The Scrumforme")}}<strong> {{=T("does not give or sell your data to third parties")}}.</strong></li>
            <li>{{=T("The data of your projects")}} <strong>{{=T("are accessible only by you")}}</strong> {{=T("and those with whom you decide to share, through the functionality to add users to the project")}}.</li>
            <li><strong>{{=T("You are not prompted in any event, bank details or passwords")}}.</strong></li>
        </ul>
        <br />
        <h4><strong>{{=T("ATTENTION")}}:</strong></h4>
        <br />
        <p>{{=T("The Scrumforme")}} <strong>{{=T("reserves the right to modify or add new items to these Terms of Agreement")}}</strong>, {{=T("but do not worry, because")}} <strong>{{=T("you will be notified by email or in your control panel")}}.</strong></p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal">{{=T("Close")}}</button>
    </div>
</div>