{{extend 'default/layout_base.html'}}

<script>
    // OBS: other global variables for this page
    var msg = {
            field_empty : '{{=T("Click to write")}}',
            validation_error : '{{=T("Can not be empty")}}',
            confirm : '{{=T("Are you sure you want to continue?")}}',
            remove_sucess : '{{=T("Removed Successfully!")}}',
            remove_error : '{{=T("Error in removal!")}}',
            type_error : 'error',
            type_success : 'success',
            move_sprint_error : '{{=T("Before moving a story to sprint, you must create a sprint!")}}',
        },
        url = {
            create_or_update_itens : '{{=URL(r=request,f="call",args=["json","create_or_update_itens"])}}',
            removeBacklogItens : '{{=URL("remove_backlog_itens")}}',
            changeStories : '{{=URL("change_stories")}}',
            ajax_upload : '{{=URL(r=request,f="call",args=["json","ajax_upload"])}}',
        },
        info = {
            project_id : '{{=project.id}}',
            page : '{{=request.function}}',
            have_permission : JSON.parse('{{="true" if have_permission else "false"}}'),
        },
        buttons = {
            DR : '{{=T("DR")}}',
            send_sprint : '{{=T("Send to Sprint")}}',
            back_backlog : '{{=T("Back to Backlog")}}',
            task : '{{=T("Task")}}',
        },
        title = {
            create_DR : '{{=T("Create Definition of Ready")}}',
            label_DR : '{{=T("Definition of Ready")}}',
            number_DR : '{{=T("Number of Definitions of Ready")}}',
            points : '{{=T("Story Points")}}',
            benefit : '{{=T("Benefit")}}',
            remove : '{{=T("Remove")}}',
            expand : '{{=T("Expand")}}',
            task : '{{=T("Task")}}',
        };
</script>

<div id="target_ajax"></div>

<div id="sub-header-content" class="row-fluid">
    {{include "default/project_info.html"}}

    <div id="sprint_info" class="project_bar_info span6">
        {{if sprint:}}
            <div id="current_sprint">
                <div class="span5">
                    <h4>{{=sprint.name}}</h4>
                </div>
                <div class="span7">
                    <h5 class='pull-left'><span>{{=sprint.weeks}}</span> {{=T('Weeks')}}</h5>
                    <!-- if the user has permission to edit items -->
                    {{if have_permission:}}
                        {{if sprint.started:}}
                            <a href='{{=URL(c="default",f="launch_or_end_sprint",args=[request.args(0),sprint.id])}}' class='btn btn-danger pull-right'>{{=T('End the sprint')}}</a>
                        {{else:}}
                            <a href='{{=URL(c="default",f="launch_or_end_sprint",args=[request.args(0),sprint.id])}}' class='btn btn-success pull-right'>{{=T('Launch the sprint')}}</a>
                        {{pass}}
                    {{else:}}
                        <button class='disabled btn btn-success pull-right'>{{=T('Launched')}}</button>
                    {{pass}}
                    <!-- /if the user has permission to edit items -->
                </div>
                <div class="clearfix"></div>
            </div>
        {{else:}}
            <!-- if the user has permission to edit items -->
            {{if have_permission:}}
            <div id="new_sprint">
                <h4>{{=T('New Sprint')}}</h4>
                {{=form_sprint.custom.begin}}
                    <!-- name -->
                    {{ form_sprint.elements('#sprint_name')[0] ['_placeholder'] = T('Name') }}
                    {{=form_sprint.custom.widget.name}}
                    <!-- weeks -->
                    {{ form_sprint.elements('#sprint_weeks')[0] ['_placeholder'] = T('Weeks') }}
                    {{ form_sprint.elements('#sprint_weeks')[0] ['_class'] = "only_numbers" }}
                    {{=form_sprint.custom.widget.weeks}}
                    <button type="submit" class="btn btn-primary">{{=T('Create Sprint')}}</button>
                {{=form_sprint.custom.end}}
            </div>
            {{pass}}
        {{pass}}
        <!-- /if the user has permission to edit items -->
    </div><!-- /sprint-header -->
    <div class="clearfix"></div>

    <p>
        {{if have_permission:}}
        <!-- if the user has permission to edit items -->
        <button id="create_story" class="btn btn-primary">{{=T('Create Story')}}</button>
        {{pass}}
    </p>

</div>

<div id="backlog_content" class="row-fluid">
    <div id="backlog" class="span6">
        <div class="container-fluid">
            <div class="project-items">
                <!-- STORY CONTENT -->
                {{if "stories" in globals():}}
                    {{for story in stories:}}
                        {{if story.sprint_id == None: }}
                            <ul class="story_container item_container">
                                <li class="story">
                                    <div class="story_header">
                                        <div class="text_container">
                                            <a href="#" class="editable-click story_card editable" data-type="textarea" data-placeholder="Click para escrever" data-pk="{{=story.id}}" data-index="{{=story.position_dom}}" data-url="{{=URL('create_or_update_itens.json')}}" data-name="story" data-update="true">{{=story.title}}</a>
                                        </div>
                                        <div class="buttons_container">
                                            <button class="btn btn-nostyle expand_story pull-right" alt='{{=T("Expand")}}' title='{{=T("Expand")}}'>
                                                <i class="icon-circle-arrow-down"></i></button>

                                        {{if have_permission:}}
                                        <!-- if the user has permission to edit items -->
                                            <button class="btn delete_item pull-right" alt='{{=T("Remove")}}' title='{{=T("Remove")}}'><i class="icon-trash"></i></button>
                                            <select class="pull-right benefit tip-bottom" alt='{{=T("Benefit")}}' title='{{=T("Benefit")}}'>
                                            {{selects="P M G GG".split()}}
                                            {{if story.benefit:}}
                                                {{for size in selects:}}
                                                    {{if size == story.benefit:}}
                                                        <option value="{{=size}}" selected>{{=size}}</option>
                                                    {{else:}}
                                                        <option value="{{=size}}">{{=size}}</option>
                                                    {{pass}}
                                                {{pass}}
                                            {{else:}}
                                                {{selects.insert(0,"?")}}
                                                {{for size in selects:}}
                                                    {{if size == "?":}}
                                                        <option value="" disabled selected>?</option>
                                                    {{else:}}
                                                        <option value="{{=size}}">{{=size}}</option>
                                                    {{pass}}
                                                {{pass}}
                                            {{pass}}
                                            </select>
                                            <input class="pull-right story_points only_numbers tip-bottom" type="number" placeholder="?" min="1" value='{{=g_blank_check(story.story_points)}}' alt='{{=T("Story Points")}}' title='{{=T("Story Points")}}'>
                                            <button class="btn create_definition_ready pull-right tip-bottom" alt='{{=T("Create Definition of Ready")}}' title='{{=T("Create Definition of Ready")}}'>+ {{=T('DR')}}</button>
                                        <!-- if the user has permission to edit items -->
                                        {{else:}}
                                            <span class="no_perm_itens pull-right tip-bottom" alt='{{=T("Benefit")}}' title='{{=T("Benefit")}}'>{{=g_blank_return_question(story.benefit)}}</span>
                                            <span class="no_perm_itens pull-right tip-bottom" alt='{{=T("Story Points")}}' title='{{=T("Story Points")}}'>{{=g_blank_return_question(story.story_points)}}</span>
                                        {{pass}}
                                            <span class="label qtd_definition_ready pull-right tip-bottom" alt='{{=T("Number of Definitions of Ready")}}' title='{{=T("Number of Definitions of Ready")}}'>{{=len(definition_ready[story.id])}}</span>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="list_definition_ready">
                                    {{count = 0}}
                                    {{for df in definition_ready[story.id]:}}
                                        {{if definition_ready[story.id][count].story_id == story.id:}}
                                        <ul class="item_container">
                                            <li class="definition_ready_container">
                                                <div class="definition_ready">
                                                    <div class="text_container">
                                                        <span class="label tip-bottom" alt='{{=T("Definition of Ready")}}' title='{{=T("Definition of Ready")}}'>{{=T('DR')}}</span>
                                                        <a href="#" class="editable-click editable definition_ready_card" data-type="textarea" data-pk="{{=definition_ready[story.id][count].id}}" data-url="{{=URL('create_or_update_itens.json')}}" data-name="definition_ready" data-update="true">{{=definition_ready[story.id][count].title}}</a>
                                                    </div>
                                                    <div class="buttons_container">
                                                        <button class="btn btn-nostyle expand_definition_ready pull-right" alt='{{=T("Story Points")}}' title='{{=T("Story Points")}}'><i class="icon-circle-arrow-up"></i></button>
                                                    {{if have_permission:}}
                                                    <!-- if the user has permission to edit items -->
                                                        <button class="btn delete_item pull-right" alt='{{=T("Remove")}}' title='{{=T("Remove")}}'><i class="icon-trash"></i></button>
                                                        <button class="btn create_task pull-right" alt='{{=T("Create Tast")}}' title='{{=T("Create Task")}}'>+ {{=T("Task")}}</button>
                                                    <!-- if the user has permission to edit items -->
                                                    {{pass}}
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div><!-- definition_ready -->
                                                <div class="list_taks">
                                                {{for task in tasks[definition_ready[story.id][count].id]:}}
                                                    <ul class="item_container zebra_row">
                                                        <li class="task">
                                                            <div class="text_container">
                                                                <a href="#" class="editable-click editable" data-type="textarea" data-pk='{{=task["id"]}}' data-url="{{=URL('create_or_update_itens.json')}}" data-name="task" data-update="true">{{=task["title"]}}</a>
                                                            </div>
                                                        {{if have_permission:}}
                                                        <!-- if the user has permission to edit items -->
                                                            <div class="buttons_container">
                                                                <button class="btn delete_item pull-right" alt="Delete" title="Delete"><i class="icon-trash"></i></button>
                                                                <button class="btn btn-nostyle comment_definition_ready pull-right" alt='{{=T("comments")}}' title='{{=T("comments")}}'><i class="icon-comment-custom"><span>0</span></i></button>
                                                            </div>
                                                        {{pass}}
                                                            <div class="clearfix"></div>
                                                        </li><!-- task -->
                                                    </ul>
                                                {{pass}}
                                                </div>
                                                </li>
                                            </ul>
                                            {{count += 1}}
                                        {{pass}}
                                    {{pass}}
                                    </div>
                                </li><!-- story -->
                                <div class="buttons_footer">
                            {{if have_permission:}}
                            <!-- if the user has permission to edit items -->
                                    <button class="btn btn-primary pull-right send_story_sprint">{{=T("Send to Sprint")}} <i class="icon-circle-arrow-right icon-white"></i></button>
                                    <div class="clearfix"></div>
                            <!-- if the user has permission to edit items -->
                            {{pass}}
                                </div>
                            </ul>
                        {{pass}}
                    {{pass}}
                {{pass}}
            </div><!-- project-items -->
        </div><!-- container-fluid -->
    </div><!-- span6 -->



    <!-- SPRINT CONTENT -->
    <div id="sprint" class="span6" data-sprint='{{=sprint.id if sprint else ""}}'>
        <div class="project-items">
        {{if "stories" in globals():}}
            {{for story in stories:}}
                {{if story.sprint_id: }}
                    <ul class="story_container item_container">
                        <li class="story">
                            <div class="story_header">
                                <div class="text_container">
                                    <a href="#" class="editable-click story_card editable" data-type="textarea" data-placeholder="Click para escrever" data-pk="{{=story.id}}" data-index="{{=story.position_dom}}" data-url="{{=URL('create_or_update_itens.json')}}" data-name="story" data-update="true">{{=story.title}}</a>
                                </div>
                                <div class="buttons_container">
                                    <button class="btn btn-nostyle expand_story pull-right" alt='{{=T("Expand")}}' title='{{=T("Expand")}}'>
                                        <i class="icon-circle-arrow-down"></i></button>
                                {{if have_permission:}}
                                <!-- if the user has permission to edit items -->
                                    <button class="btn delete_item pull-right" alt='{{=T("Remove")}}' title='{{=T("Remove")}}'><i class="icon-trash"></i></button>
                                    <select class="pull-right benefit tip-bottom" alt='{{=T("Benefit")}}' title='{{=T("Benefit")}}'>
                                    {{selects="P M G GG".split()}}
                                    {{if story.benefit:}}
                                        {{for size in selects:}}
                                            {{if size == story.benefit:}}
                                                <option value="{{=size}}" selected>{{=size}}</option>
                                            {{else:}}
                                                <option value="{{=size}}">{{=size}}</option>
                                            {{pass}}
                                        {{pass}}
                                    {{else:}}
                                        {{selects.insert(0,"?")}}
                                        {{for size in selects:}}
                                            {{if size == "?":}}
                                                <option value="" disabled selected>?</option>
                                            {{else:}}
                                                <option value="{{=size}}">{{=size}}</option>
                                            {{pass}}
                                        {{pass}}
                                    {{pass}}
                                    </select>
                                    <input class="pull-right story_points only_numbers tip-bottom" type="number" placeholder="?" min="1" value='{{=g_blank_check(story.story_points)}}' alt='{{=T("Story Points")}}' title='{{=T("Story Points")}}'>
                                    <button class="btn create_definition_ready pull-right tip-bottom" alt='{{=T("Definition of Ready")}}' title='{{=T("Definition of Ready")}}'>+ {{=T('DR')}}</button>

                                    <!-- if the user has permission to edit items -->
                                    {{else:}}
                                        <span class="no_perm_itens pull-right tip-bottom" alt='{{=T("Benefit")}}' title='{{=T("Benefit")}}'>{{=g_blank_return_question(story.benefit)}}</span>
                                        <span class="no_perm_itens pull-right tip-bottom" alt='{{=T("Story Points")}}' title='{{=T("Story Points")}}'>{{=g_blank_return_question(story.story_points)}}</span>
                                    {{pass}}
                                        <span class="label qtd_definition_ready pull-right tip-bottom" alt='{{=T("Number of Definitions of Ready")}}' title='{{=T("Number of Definitions of Ready")}}'>{{=len(definition_ready[story.id])}}</span>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="list_definition_ready">
                            {{count = 0}}
                            {{for df in definition_ready[story.id]:}}
                                {{if definition_ready[story.id][count].story_id == story.id:}}
                                <ul class="item_container">
                                    <li class="definition_ready_container">
                                        <div class="definition_ready">
                                            <div class="text_container">
                                                <span class="label tip-bottom" alt='{{=T("Definition of Ready")}}' title='{{=T("Definition of Ready")}}'>{{=T('DR')}}</span>
                                                <a href="#" class="editable-click editable definition_ready_card" data-type="textarea" data-pk="{{=definition_ready[story.id][count].id}}" data-url="{{=URL('create_or_update_itens.json')}}" data-name="definition_ready" data-update="true">{{=definition_ready[story.id][count].title}}</a>
                                            </div>
                                            <div class="buttons_container">
                                                <button class="btn btn-nostyle expand_definition_ready pull-right" alt='{{=T("Expand")}}' title='{{=T("Expand")}}'><i class="icon-circle-arrow-up"></i></button>
                                            {{if have_permission:}}
                                            <!-- if the user has permission to edit items -->
                                                <button class="btn delete_item pull-right" alt='{{=T("Remove")}}' title='{{=T("Remove")}}'><i class="icon-trash"></i></button>
                                                <button class="btn create_task pull-right" alt='{{=T("Create Task")}}' title='{{=T("Create Task")}}'>+ {{=T("Task")}}</button>
                                            {{pass}}
                                            </div>
                                            <div class="clearfix"></div>
                                        </div><!-- definition_ready -->
                                        <div class="list_taks">
                                        {{for task in tasks[definition_ready[story.id][count].id]:}}
                                            <ul class="item_container zebra_row">
                                                <li class="task">
                                                    <div class="text_container">
                                                        <a href="#" class="editable-click editable" data-type="textarea" data-pk='{{=task["id"]}}' data-url="{{=URL('create_or_update_itens.json')}}" data-name="task" data-update="true">{{=task["title"]}}</a>
                                                    </div>
                                                {{if have_permission:}}
                                                <!-- if the user has permission to edit items -->
                                                    <div class="buttons_container">
                                                        <button class="btn delete_item pull-right" alt='{{=T("Remove")}}' title='{{=T("Remove")}}'><i class="icon-trash"></i></button>
                                                        <button class="btn btn-nostyle comment_definition_ready pull-right" alt='{{=T("comments")}}' title='{{=T("comments")}}'><i class="icon-comment-custom"><span>0</span></i></button>
                                                    </div>
                                                {{pass}}
                                                    <div class="clearfix"></div>
                                                </li><!-- task -->
                                            </ul>
                                        {{pass}}
                                        </div>
                                        </li>
                                    </ul>
                                    {{count += 1}}
                                {{pass}}
                            {{pass}}
                        </div>
                        </li><!-- story -->
                        <div class="buttons_footer">
                    {{if have_permission:}}
                    <!-- if the user has permission to edit items -->
                            <button class="btn btn-danger pull-right back_backlog"><i class="icon-circle-arrow-left icon-white"></i> {{=T("Back to Backlog")}}</button>
                            <div class="clearfix"></div>
                    <!-- if the user has permission to edit items -->
                    {{pass}}
                        </div>
                    </ul>
                {{pass}}
            {{pass}}
        {{pass}}
        </div><!-- project-items -->
    </div><!-- sprint / span6 -->
    <div class="clearfix"></div>

</div><!-- row-fluid -->
