{{extend 'default/layout.html'}}

<script>
	var urlStory = "{{=URL('create_story.json')}}",
		urlDefinitionReady = "{{=URL('create_definition_ready.json')}}",
		urlUpdateBacklogItens = "{{=URL('update_backlog_itens.json')}}",
		botonDefinitionReady = '{{=T("DR")}}',
		projectID = '{{=project.id}}';
</script>

<h2>Projeto</h2>
<table class="table table-hover" data-provides="rowlink">
	<thead>
		<tr>
			<th><strong>{{=T('Name')}}</strong></th>
			<th><strong>{{=T('Description')}}</strong></th>
			<th><strong>{{=T('Data')}}</strong></th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>{{=project.name}}</td>
		<td>{{=project.description}}</td>
		<td>{{=project.date_.strftime("%d/%m/%Y")}}</td>
	</tr>	
	</tbody>
</table>



{{if sprint:}}
<div class="container-fluid row">
	<h2>{{=T('Sprint')}}</h2>
	{{=sprint.name}}
	{{if not sprint.started:}}
	<a href="{{=URL(c='default',f='launch_sprint',args=[sprint.id],)}}" class='btn btn-success'>{{=T('Launch the sprint')}}</a>
	{{else:}}
	<button class='disabled btn btn-success'>{{=T('Launched')}}</button>
	{{pass}}
</div>
{{pass}}
<br>
<br>

<h2>{{=T('Create Sprint')}}</h2>
{{=form_sprint}}
<br>
<br>

<button id="create_story" class="btn btn-primary">{{=T('Create Story')}}</button>
<div id="stories">
	{{if "stories" in globals():}}
		{{selects="P M G GG".split()}}
		{{for story in stories:}}
		<ul class="stories_container">
			<div class="stories_header">
				<a href="#" class="editable-click story_card editable" data-type="text" data-placeholder="Click para escrever" data-pk="{{=story.id}}" data-url="{{=URL('update_backlog_itens.json')}}" data-name="stories">{{=story.title}}</a>
				<button class="btn expand_story pull-right" alt="Expand" title="Expand">
					<i class="icon-chevron-down"></i></button>
				<button class="btn delete_story pull-right" alt="Delete" title="Delete"><i class="icon-remove"></i></button>
				<select class="span1 pull-right benefit" name="size" id="size">
				{{for size in selects:}}
					{{if size == story.benefit:}}
						<option value="{{=size}}" selected>{{=size}}</option>
					{{else:}}
						<option value="{{=size}}">{{=size}}</option>
					{{pass}}
				{{pass}}
				</select>
				<input class="span1 pull-right story_points" type="number" placeholder="?" min="1" value="{{=story.story_points}}">
				<button class="btn btn-primary create_definition_ready pull-right">{{=T('DR')}}</button>
			</div>
			<div class="stories_footer">
				{{count = 0}}
				{{for df in definition_ready[story.id]:}}
					{{if definition_ready[story.id][count].story_id == story.id:}}
					<li>
						<a href="#" class="editable-click new_definition_ready editable" data-type="text" data-pk="{{=definition_ready[story.id][count].id}}" data-url="{{=URL('update_backlog_itens.json')}}" data-name="definition_ready">{{=definition_ready[story.id][count].title}}</a>
						<button class="btn expand_definition_ready pull-right" alt="Expand" title="Expand"><i class="icon-chevron-down"></i></button>
						<button class="btn delete_definition_ready pull-right" alt="Delete" title="Delete"><i class="icon-remove"></i></button>
						<button class="btn comment_definition_ready pull-right" alt="Comment" title="Comment"><i class="icon-comment"></i></button>
						<button class="btn plus_card pull-right" alt="Create Card" title="Create Card"><i class="icon-plus-sign"></i></button>
					</li>
					{{count += 1}}
					{{pass}}
				{{pass}}
			</div>
		</ul>
		{{pass}}
	{{pass}}
</div>
