{{extend 'default/layout.html'}}

<h2>Projeto</h2>
<table class="table table-hover" data-provides="rowlink">
	<thead>
		<tr>
			<th><strong>{{=T('Name')}}</strong></th>
			<th><strong>{{=T('Description')}}</strong></th>
			<th><strong>{{=T('Data')}}</strong></th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>{{=project.name}}</td>
		<td>{{=project.description}}</td>
		<td>{{=project.date_.strftime("%d/%m/%Y")}}</td>
	</tr>	
	</tbody>
</table>

<button id="create_story" class="btn btn-primary">{{=T('Create Story')}}</button>
<div id="stories">
<!-- 	<ul class="stories_container">
		<div class="stories_header">
			<a href="#" class="editable-click editable-empty story_card new_story editable" data-type="text" data-placeholder="Click para escrever" data-pk="1">Click para escrever</a>
			<button class="btn expand_story pull-right" alt="Expand" title="Expand"><i class="icon-chevron-down"></i></button>
			<button class="btn delete_story pull-right" alt="Delete" title="Delete"><i class="icon-remove"></i></button>
			<button class="btn comment_story pull-right" alt="Comment" title="Comment"><i class="icon-comment"></i></button>
			<select class="span1 pull-right" name="size"  id="size">
	            <option value="P" selected>P</option>
	            <option value="M">M</option>
	            <option value="G">G</option>
	            <option value="GG">GG</option>
	        </select>
			<input class="span1 pull-right" type="text" placeholder="?">
		</div>
		<div class="stories_footer">
			<footer id="story_footer">
				<button class="btn btn-primary create_definition_ready">{{=T('Create Definition Of Ready')}}</button>
			</footer>
		</div>
	</ul> -->
</div>

<br>
<br>

{{if "stories" in globals():}}
	<h2>{{=T('Stories Project')}}</h2>
	<table class="table table-hover" data-provides="rowlink">
		<thead>
			<tr>
				<th><strong>{{=T('Title')}}</strong></th>
				<th><strong>{{=T('Benefit')}}</strong></th>
				<th><strong>{{=T('Story points')}}</strong></th>
			</tr>
		</thead>
		<tbody>

	{{for i in stories:}}
		<tr>
			<td>{{=i.title}}</td>
			<td>{{=i.benefit}}</td>
			<td>{{=i.story_points}}</td>
		</tr>	
	{{pass}}
		</tbody>
	</table>

	<br>
	<br>
{{pass}}

<script>
	var urlStory = "{{=URL('create_story.json')}}",
		botonDefinitionReady = '{{=T("DR")}}';
		projectID = '{{=project.id}}';
</script>


