{{extend 'default/layout.html'}}

<h2>Projeto</h2>
<table class="table table-hover" data-provides="rowlink">
	<thead>
		<tr>
			<th><strong>{{=T('Name')}}</strong></th>
			<th><strong>{{=T('Description')}}</strong></th>
			<th><strong>{{=T('Data')}}</strong></th>
		</tr>
	</thead>
	<tbody>
{{for i in project:}}
	<tr>
		<td>{{=i.name}}</td>
		<td>{{=i.description}}</td>
		<td>{{=i.date_.strftime("%d/%m/%Y")}}</td>
	</tr>
{{pass}}
	</tbody>
</table>

<br>
<br>

{{if "stories" in globals():}}
	<h2>{{=T('Stories Project')}}</h2>
	<table class="table table-hover" data-provides="rowlink">
		<thead>
			<tr>
				<th><strong>{{=T('Title')}}</strong></th>
				<th><strong>{{=T('Benefit')}}</strong></th>
				<th><strong>{{=T('Story points')}}</strong></th>
			</tr>
		</thead>
		<tbody>

	{{for i in stories:}}
		<tr>
			<td>{{=i.title}}</td>
			<td>{{=i.benefit}}</td>
			<td>{{=i.story_points}}</td>
		</tr>
	{{pass}}
		</tbody>
	</table>

	<br>
	<br>
{{pass}}

<h2>{{=T('Create Story')}}</h2>

{{=form_story}}

<h2>{{=T('Create Sprint')}}</h2>

{{=form_sprint}}

<h2>{{=T('Sprint')}}</h2>
{{=sprint.name}}
{{if not sprint.started:}}
<a href="{{=URL(c='default',f='launch_sprint',args=[sprint.id],)}}" class='btn btn-success'>{{=T('Launch the sprint')}}</a>
{{else:}}
<button class='disabled btn btn-success'>{{=T('Launched')}}</button>
{{pass}}