{{extend 'default/layout_base.html'}}
<script>
    // global variables
    var url = {
        delete_project : '{{=URL(f="delete_project")}}',
    },
    msg = {
        confirmRemove: '{{=T("Are you sure you want to delete this project?")}}',
    }
</script>
<div id="sub-header-content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href='{{=URL("index")}}' title="{{=T('Go to')}} {{=T('Home')}}" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="#" class="current" title="{{=T('Projects')}}" >{{=T('Projects')}}</a>
        </div>
        <div id="header-name" class="pull-left">
            <h1>{{=T('Create a Project')}}</h1>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
        {{=form.custom.begin}}
            <!-- name -->
            {{ form.elements('#projects_name')[0] ['_placeholder'] = T('Name') }}
            {{=form.custom.widget.name}}
            <!-- description -->
            {{ form.elements('#projects_description')[0] ['_placeholder'] = T('Description') }}
            {{=form.custom.widget.description}}
            <!-- url -->
            {{ form.elements('#projects_url')[0] ['_placeholder'] = T('Url') }}
            {{=form.custom.widget.url}}
            <br>
            <button type="submit" class="btn btn-primary">{{=T('Create Project')}}</button>
        {{=form.custom.end}}
        </div>
        <div class="span5">
            {{if "person_projects" in globals():}}
                <h3>{{=T('My Projects')}} <span class="label">{{=len(person_projects)}}</span></a></h3>
                <ul>
                {{for i in person_projects:}}
                    <li class='{{=g_current_page("default/product_backlog/%s" %i.id,"active")}}'>
                        <a href='{{=URL(c="default",f="product_backlog",args=[i.id])}}'>{{=i.name}}</a>
                        <button data-project="{{=i.id}}" class="delete_project btn btn-danger btn-mini">{{=T("delete")}}</button>
                    </li>
                {{pass}}
                </ul>
            {{pass}}
        </div>
        <div class="span5">
            {{if shared_with_person:}}
                <h3>{{=T('Projects that I am part')}} <span class="label">{{=len(shared_with_person)}}</span></a></h3>
                <ul>
                {{for i in shared_with_person:}}
                    <li class='{{=g_current_page("default/product_backlog/%s" %i.project_id,"active")}}'><a href='{{=URL(c="default",f="product_backlog",args=[i.project_id])}}'>{{=i.project_id.name}}</a></li>
                {{pass}}
                </ul>
            {{pass}}
        </div>
    </div><!--/row-->
</div><!--/container-fluid-->

