{{extend 'default/layout_base.html'}}

<script>
    // OBS: other global variables for this page
    var url = {
        card_modal : '{{=URL(r=request,f="call",args=["json","_card_modal"])}}',
    },
    txt = {
        upload : '{{=T("Upload")}}',
    },
    info = {
        project_id : '{{=project.id}}',
    }
</script>

<div id="sub-header-content" class="row-fluid">
    {{include "default/project_info.html"}}
    <div id="sprint_info" class="project_bar_info span6">

    </div>
</div>

<div class="container-fluid">
    {{for sprint in sprints:}}
    <div class="widget-box sprint_container">
        <div class="widget-title sprint_header">
            <div class="pull-left">
                <h5>{{=sprint.name}} - {{=T('Started in')}}: {{=g_blank_fulldate_check(sprint.started)}} - {{=T('Closed')}}: {{=g_blank_fulldate_check(sprint.ended)}}</h5>
            </div>
            <div id="expand_close_btns" class="pull-right">
                <button class="btn btn-nostyle expand_all_stories pull-left" alt='{{=T("Open Stories")}}' title='{{=T("Open Stories")}}'>
                    {{=T("Open Stories")}}
                    <i class="icon-circle-arrow-down"></i>
                </button>
                <button class="btn btn-nostyle close_all_stories pull-left" alt='{{=T("Close Stories")}}' title='{{=T("Close Stories")}}'>
                    {{=T("Close Stories")}}
                    <i class="icon-circle-arrow-up"></i>
                </button>
                <div class="clearfix"></div>
            </div>
        </div>
        {{for story in stories[sprint.id]:}}
        <div class="widget-content">
            <div class="story_header">
                <div class="pull-left">
                    <h5>{{=story.title}}</h5>
                </div>
                <div class="pull-right">
                    <button class="btn btn-nostyle expand_story pull-right" alt="Expandir" title="Expandir">
                        <i class="icon-circle-arrow-down"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div> <!-- /story_header -->
            <div class="story_content">
                {{for n,df in enumerate(definition_ready[story.id]):}}
                <div class="list_definition_ready">
                    <div class="definition_ready">
                        <p>{{=definition_ready[story.id][n].title}}</p>
                    </div>
                    <div class="tasks">
                        {{for task in tasks[definition_ready[story.id][n].id]:}}
                        <a href="#" class="card-modal" data-pk='{{=task["id"]}}' onclick="">
                            <p>
                                {{ for member in team_members: }}
                                    {{ if task["owner_task"] == member.sharing.person_id: }}
                                        <img class="user_card " src='{{=Gravatar(member.user_relationship.auth_user_id.email).thumb}}' alt='{{=member.sharing.person_id.name}} - {{=member.sharing.role_id.name}}' title='{{=member.sharing.person_id.name}} - {{=member.sharing.role_id.name}}' data-owner="true">
                                    {{pass}}
                                {{pass}}
                                {{=task["title"]}}
                                {{if len(card_comments[task["id"]]) > 0:}}
                                    <span class="comment"><i class="icon-comment"><span class="number_comment">{{ =g_format_number( len(card_comments[task["id"]]) ) }}</span></i></span>
                                {{pass}}
                            </p>
                        </a>
                        {{pass}}
                    </div>
                </div> <!-- /list_definition_ready -->
                <hr>
                {{pass}}
            </div> <!-- /story_content -->

        </div> <!-- /widget-content -->
        {{pass}}
    </div> <!-- /widget-box -->
    {{pass}}
</div> <!-- /container-fluid -->

