{{extend 'default/layout_base.html'}}
<script>
    // global variables
    var url = {
        get_persons : '{{=URL("get_persons_add.json", vars={"project_id": request.args(0)})}}',
        add_member : '{{=URL(f="add_member", vars={"project_id": request.args(0)})}}',
        remove_member : '{{=URL(f="remove_member", vars={"project_id": request.args(0)})}}',
    },
    msg = {
        placeholder: '{{=T("Find by peoples")}}',
        noMatches: '{{=T("No matches found")}}',
        searching: '{{=T("Searching")}}',
        inputTooShort: '{{=T("Please enter 1 more character")}}',
        confirmRemove: '{{=T("Are you sure you want to remove this user?")}}',
    }
</script>

<div id="sub-header-content" class="row-fluid">
    {{include "default/project_info.html"}}
    <div id="sprint_info" class="span6">
        <div id="right_content">
            {{ if owner_project or project_admin: }}
            <h4>{{=T("Add professionals in your project team")}}</h4>
                <div id="addUsers_icons" class="pull-left">
                    <i class="icon-user"></i>
                    <i class="icon-plus"></i>
                </div>
                <div id="search_users" class="pull-left">
                    <input type='hidden' id="e6" />
                    <button class="btn-nostyle" id="add" alt='{{=T("Add")}}' title='{{=T("Add")}}'><i class="icon-plus"></i></button>
                </div>
            {{pass}}
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- <div class="container-fluid"> -->

<div class="container-fluid">


{{if team_members:}}
<h3>{{=T('Members')}}:</h3>
    <ul class="thumbnails">
    {{ for member in team_members: }}
      <li class="span2 users">
        {{if member.sharing.person_id == owner_project_person_id: }}
          <img class="thumbnail thumbnail_owner_project avatar-frame" alt="{{=member.sharing.person_id.name}}" title="{{=member.sharing.person_id.name}}" src='{{=Gravatar(member.user_relationship.auth_user_id.email).thumb}}'>
          <p id="owner_project"><i class="icon-star"></i> {{=T("Owner")}}</p>
          <div id="owner_container">
        {{else:}}
          <img class="thumbnail avatar-frame" alt="{{=member.sharing.person_id.name}}"  title="{{=member.sharing.person_id.name}}" src='{{=Gravatar(member.user_relationship.auth_user_id.email).thumb}}'>
          <div class="users_container">
        {{pass}}
            <h5>{{=member.sharing.person_id.name}}</h5>
            {{if owner_project or project_admin:}}
            <a href="#" class="edit_role">
            {{if member.sharing.role_id:}}
                {{=T(member.sharing.role_id.name)}}
            {{else:}}
                {{=T("Define role")}}
            {{pass}}
            </a>
            {{else:}}
                {{if member.sharing.role_id:}}
                    <p class="italic">{{=T(member.sharing.role_id.name)}}</p>
                {{else:}}
                    <p class="italic">{{=T("No role")}}</p>
                {{pass}}
            {{pass}}
            {{if owner_project or project_admin:}}
            <br>
            <br>
            <button data-member="{{=member.sharing.person_id}}" class=" remove_member btn btn-danger btn-mini">{{=T("remove")}}</button>
            {{pass}}
            <form class="role_team">
                <p class="text-center">{{=T("Manage User")}}</p>
                <div class="role_content">
                    <p class="question_role">{{=T("What role this person will perform in the project?")}}</p>
                    {{ for role in roles: }}
                        {{ if member.sharing.role_id:}}
                            <label class="radio">
                                <input type="radio" name="{{=member.sharing.person_id}}" value="{{=role.id}}"
                                    {{if member.sharing.role_id.name == role.name:}}checked="checked"{{pass}}
                                >{{=T(role.name)}}
                            </label>
                        {{else:}}
                            <label class="radio">
                                <input type="radio" name="{{=member.sharing.person_id}}" value="{{=role.id}}" >{{=T(role.name)}}
                            </label>
                        {{ pass }}
                    {{ pass }}
                    <hr>
                    <label class="checkbox">
                        <input type="checkbox" name="project_admin" {{if member.sharing.project_admin:}}checked="checked"{{pass}}
                        >Admin
                    </label>
                </div>
                <input type="submit" value="OK" class="btn btn-nostyle addrole">
                <a href="#" class="cancel" class="btn">{{=T("Cancel")}}</a>
                <div class="clearfix"></div>
            </form>
          </div>
        </li>
    {{ pass }}
    </ul>
{{pass}}

</div>
