/*
============
 NAV SCROLL
============
*/

.nav-status {
    display: table;
    width: 100%;
    text-align: center;
    background-color: rgb(105, 218, 230);
    border-top: 1px solid #00A0B1;
    border-bottom: 1px solid #00A0B1;
}

.fixed-nav{
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
} /* this make our menu fixed top */

ul {
    margin: 0px;
}

/*
===============
 BOARD CONTENT
===============
*/

#target_ajax {
    display: none;
}

#live_search {
    margin-right: 10%;
}

#live_search input {
    margin: 0px;
}

#nothingfound {
    position: absolute;
    display: none;
    color: red;
}

.story_container, .definition_ready_container {
    /*display: table;*/
}

table, th, td {
    border: 1px solid #ccc;
}

.table td{
    width: 20%;
}

.no-th {
    margin-top: -20px;
}


.definition_ready_title {
    height: 200px;
}

.task_container {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
.task_container li {
    margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em;
    line-height: 1.2em;
}

.nav-status, .definition_ready_container {
    display: table;
}

.column {
    display: table-cell;
    width:20%;
    float: left;
}

.story_title h5 {
    font-size: 16px;
    text-align: left;
}

/*
============
 MOVE ITEMS
============
*/

.task {
    padding: 7px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4d8',endColorstr='#fce8c6');
    background-image: -webkit-gradient(linear,center top,center bottom,from(#fff4d8),to(#fce8c6));
    background-image: -moz-linear-gradient(center top,#fff4d8,#fce8c6);
    background-color: #fff5e3;
    border: 1px solid #ddd  9;
    -moz-box-shadow: 0 1px 3px #bbb;
    -webkit-box-shadow: 0 1px 3px #bbb;
    box-shadow: 0 1px 3px #bbb;
    margin-bottom: 1px;
    cursor: pointer;
    list-style: none;
}

.task:active {
  cursor: move;
}

.task .content {
    word-wrap: break-word;
    padding: 5px 0px;
}
.task .icon-comment {
    background-position: -321px -782px;
    border: 3px solid transparent;
    display: block;
    height: 12px;
    vertical-align: middle;
    width: 11px;
    opacity: .6;
}
.task img {
    float: right;
}


/*
=======
 ITENS
=======
*/





/*
==============
 PLUGIN HACKS
==============
*/

