.container-fluid-brainstorm {
    padding: .8em;
}

#area-brainstorm {
    min-height: 500px;
}
#note-add {
    cursor: move;
}

#note-add p {
    color: #2A2A2A;
    text-align: center;
    line-height: 25px;
}

.notes-container {
    min-width: auto;
}

.note-add-thumb {
    background-color: #f1c40f;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 5px;
    float: right;
    margin-right: 1rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #c6c6c6;
}

.note {
    float:left;
    width: 200px;
    list-style: none;
    padding: 10px;
    margin: 10px;
    min-height: 142px;
    background-color: #FFD180;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #c6c6c6;
    font-family: 'Roboto', sans-serif;
}

.note--panel {
    position: absolute;
}

.note-header {
    width: 100%;
    margin-bottom: .7em;
}

.icon-note-header--delete {
    color: #e74c3c;
    float: right;
    cursor: pointer;
}

.icon-note-header--color {
    color: cornflowerblue;
    float: right;
    cursor: pointer;
}


.note-content {
    height:80%;
    margin-bottom: 1em;
    font-size: 15px;
}

.note-footer {
    /*background-color: #00A0B1;*/
    color: #2A2A2A;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: .5em;
    text-align: right;
    font-size: 10px;
}

h3.title-group {
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: bold;
    color: #487a89;
}

.group-notes {
    /*display: inline-block;*/
    /*float: left;*/
    cursor: move;
    margin: 0;
    width: 500px;
    padding: 10px;
    background-color: #d1d1d1;
    position: absolute;

}

/* Plugin Editable HACK */
.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: none;
    color: #444444;
}

.editable-container {
    margin: 0 0 2em 0;
}

.title-group + .editable-container {
    display: block;
    margin-bottom: 4em;
}

.input-large {
    width: 100%;
    margin: 5px 0px 0px 5%;
}

.editable-input {
    width: 83%;
}

.editable-buttons {
    display: block;
    margin-top: 10px;
}

.editable-submit {
    position: relative;
    right: 12%;
}

.editable-cancel {
    margin-left: 5%;
}

/* Color Pallete */
.color-palette {
    display: none;
    background-color: #ccc;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    top: 0;
    right: -40px;
}

.icon-pallete-ok {
    margin-left: 0.4em;
    line-height: 2em;

}

.thumb-color {
    display: block;
    margin: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.thumb-color:hover {
    background-color: #00A0B1;
}

.thumb-color[data-color="#FFD180"] {
    background-color: #FFD180;
}

.thumb-color[data-color="#FF8A80"] {
    background-color: #FF8A80;
}

.thumb-color[data-color="#FFFF8D"] {
    background-color: #FFFF8D;
}

.thumb-color[data-color="#80D8FF"] {
    background-color: #80D8FF;
}

.thumb-color[data-color="#CCFF90"] {
    background-color: #CCFF90;
}
