
/* 
#WebMaster : Felipe Campos 
#Version : 1.0
*/

#back-top {
  background-color: #222236;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 18px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: fixed;
  bottom: 60px;
  right: 20px;
  display: none;
  overflow: hidden;
  z-index: 1000;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  text-decoration: none
}
#back-top:hover,
#back-top:focus {
  background-color: #181826;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-decoration: none;
}

.icon-chevron-up:before {
content: "^";

}