html, body {
    height: 100%;
    background-color: #34abbd;
    background-image: url('../img/login_register_background.png');
    background-repeat: no-repeat;
    background-position: center;
}

header {
    width: 80%;
    margin: 0  auto;
}

p {
    font-family: 'Helvetica', cursive;
    color: #197a8b;
    font-size: 20px;
    text-align: center;
}

.color-logo{
    color: #00A0B1;
}

#login {
    margin-top: 20px;
}

.dropdown {
 list-style: none;
}

#register {
    width: 40%;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

.content-center {
    color: #fff;
    text-align: center;
    padding-top: 96px;
}

.content-center h2{
    font-weight:normal;
    font-family: 'Quicksand', sans-serif;
    text-transform:uppercase;
    font-size:60px;
    line-height:55px;
}

.content-center p{
    font-size:18px;
    padding:10px;
    line-height:25px;
    font-family:'Oswald',Arial,Helvetica,sans-serif;
}

footer, .push {
    height: 96px; /* .push must be the same height as .footer */
}

footer img {
    margin: 0 auto;
    display: block;
}
#texto-logo {
    width: 390px;
    margin-top: 45px;
    }
@media (max-width: 480px) {
    body{
        margin: 0px;
        border: 0px;
        padding: 0px;
    }
    #texto-logo img{
        width: 294px;
        height: 54px;
        margin: 0 auto;
    }
    html,body {
        background-image: none;
    }
    #texto-logo{
        width: 305px;
        margin: 0 auto;
    }
    #texto-logo p{
        font-size: 14px;
    }
    .bloco_grande{
        width: 275px;
        margin: 0 auto;
        margin-top: 30px;
        float: none;
        }
    header{
        width: 100%;
    }
    
}
@media (min-width: 481px) and (max-width: 768px) {
    body{
        margin: 0px;
        border: 0px;
        padding: 0px;
    }
    #texto-logo img{
        width: 80%;
        margin: 0 auto;
    }
    html,body {
        background-image: none;
    }
    #texto-logo{
        width: 80%;
        margin: 0 auto;
    }
    #texto-logo p{
        font-size: 18px;
    }
    .bloco_grande{
        width: 350px;
        margin: 0 auto;
        margin-top: 30px;
        float: none;
        }
    header{
        width: 100%;
    }
}