a {
    color: #000;
}

/*
=======
 ICONS
=======
*/

.icon_forward, .icon_back{
  background: url(../img/back_forward.png) no-repeat;
  display: inline-block;
}

.icon_forward{
  background-position: 0 0;
  width: 14px;
  height: 10px;
}

.icon_back{
  background-position: 0 -51px ;
  width: 14px;
  height: 10px;
}

#stories {
    margin-top: 20px;
}

.text_container {
    width: 50%;
    float: left;
    padding: 10px 0px;
}

.buttons_container {
    width: 50%;
    float: left;
}

.story_container {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    border: 2px solid #ccc;
}

.story_header {
    padding-left: 20px;
    background-color: rgb(235, 233, 233);
}

.story_header .text_container {
    /*position: relative;*/
    /*top: 6px;*/
}

.buttons_container {
    position: relative;
    top: 4px;
}

.buttons_container button, .buttons_container select, .buttons_container input {
    margin-right: 7px;
}
.buttons_container select {
    width: 60px;
}
.buttons_container input {
    width: 40px;
}

.story {
    /*min-height: 30px;*/
}

.story ul {
    margin: 0px;
    background-color: #fff;
}

.story a {
    /*position: relative;*/
    /*top: 5px;*/
}

.definition_ready_container {
    list-style: none;
}

.definition_ready {
    min-height: 40px;
    background-color: rgb(165, 205, 221);
    padding-left: 20px;
    list-style: none;
}

.definition_ready a {
    /*position: relative;*/
    /*top: 5px;*/
}

.new_definition_ready {
    /*position: relative;*/
    /*top: 5px;*/
}

.task {
    min-height: 40px;
    list-style: none;
    padding-left: 20px;
}

.task a {
    /*position: relative;*/
    /*top: 5px;*/
}

/*zebra rows*/
ul.zebra_row:nth-child(odd) {
background-color:#ccc;
}
/*
==============
 PLUGIN HACKS
==============
*/

.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: none;
}

.editable-container.editable-inline {
    width: 100%;
}
.editable-input {
    width: 80%;
    /*top: 5px;*/
}
.editable-input input[type="text"] {
    width: 80%;
}
.editable-clear-x {
    right: 20px!important;
}