a {
    color: #000;
}

span {
    color: rgb(134, 134, 134);
}

#backlog, #sprint {
    width: 49%;
    margin-left: 0px;
}

#sprint {
    margin-left: 1%;
}

#target_ajax {
    display: none;
}

.container-fluid .row-fluid:first-child {
margin-top: 0px;
}


/*
========
 SCROLL
========
*/

.project-items {
    /*height: 390px;*/
    /*height: 80%;*/
    padding-right: 10px;
    overflow-y: scroll;
}


/*
=======
 ITENS
=======
*/

#sprint-header {
    padding-top: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

#sprint-header h4:first-letter {
    text-transform: capitalize;
}

#sprint-header h4 {
    color: #ccc;
    font-style:italic;
    font-size: 20px;
}

#sprint-header h5 span {
    padding: 6px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#sprint-header button[type="submit"] {
    margin-bottom: 10px;
}

.text_container {
    width: 50%;
    float: left;
    padding: 10px 0px;
}

.text_container a {
    word-wrap: break-word;
}

.buttons_container {
    width: 50%;
    float: left;
}

.text_container:first-letter {
    text-transform: capitalize;
}

.definition_ready .text_container {
    width: 65%;
}

.definition_ready .buttons_container {
    width: 35%;
}

.task .text_container {
    width: 78%;
}

.task .buttons_container {
    width: 22%;
}

.buttons_footer {
    display: none;
    padding: 5px 5px 5px 0px;
    border-top: 1px solid #ccc;
    background: #b5b5b5;
    border-bottom: 1px solid #949494;
    border-radius: 0 0 5px 5px;
    background-image: -webkit-linear-gradient(top, #dadada, #b1b1b1);
    background-image: -moz-linear-gradient(top, #dadada, #b1b1b1);
    background-image: -o-linear-gradient(top, #dadada, #b1b1b1);
    background-image: linear-gradient(to bottom, #dadada, #b1b1b1);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
}

.story_container {
    margin: 0;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.story_header {
    padding-left: 20px;
    font-size: 13px;
    border-radius: 5px 5px 0 0;
    background-image: -webkit-linear-gradient(top, #dadada, #b1b1b1);
    background-image: -moz-linear-gradient(top, #dadada, #b1b1b1);
    background-image: -o-linear-gradient(top, #dadada, #b1b1b1);
    background-image: linear-gradient(to bottom, #dadada, #b1b1b1);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
}

.buttons_container {
    position: relative;
    top: 5px;
}

.buttons_container button, .buttons_container select, .buttons_container input {
    margin-right: 7px;
}

.buttons_container select {
    width: 45px;
    height: 30px;
    padding: 0px;
    font-size: 13px;
}

.expand_story, .expand_definition_ready, .delete_item {
    margin-right: 0px!important;
}

.expand_story i, .expand_definition_ready i {
    font-size: 18px;
    position: relative;
    top: 3px;
}

.story_points {
    width: 15px;
    height: 28px;
    padding: 0px 5px;
    font-size: 13px;
}

.create_definition_ready, .create_task {
    padding: 4px 3px;
}

.comment_definition_ready .icon-comment-custom {
    font-size: 12px;
}

.comment_definition_ready .icon-comment-custom span {
    position: relative;
    bottom: 2px;
}

.qtd_definition_ready {
    position: relative;
    top: 5px;
    right: 5px;
    padding: 3px 5px;
    background-color: rgb(204, 67, 67);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.story ul {
    margin: 0px;
    background-color: #fff;
}

.definition_ready_container {
    list-style: none;
    display: none;
}

.new_definition_ready_container, .new_buttons_footer {
    display: block;
}

.definition_ready {
    min-height: 40px;
    padding-left: 20px;
    list-style: none;
    background-color: rgb(151, 220, 247);
    border-bottom: 1px solid #fff;
}

.task {
    min-height: 40px;
    list-style: none;
    padding-left: 49px;
    border-bottom: 1px solid #d5d5d5;
}

.task .delete_item {
    margin-right: 7px!important;
}

/*
================
 SPRINT CONTENT
================
*/


/*zebra rows*/
ul.zebra_row:nth-child(odd) {
    background-color: rgb(243, 242, 242);
}
/*
==============
 PLUGIN HACKS
==============
*/

.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: none;
}

.editable-buttons {
    display: block;
    margin-top: 10px;
}

.editable-submit {
    position: relative;
    right: 15px;
}

.editable-cancel {
    margin-left: 0px;
}