#expand_close_btns button {
    margin-top: 4px;
    margin-right: 4px;
    border-radius: 0px;
}

#expand_close_btns button:hover {
    background-color: rgb(202, 202, 202);
}

.widget-title h5 {
    text-transform: uppercase;
    font-size: 18px;
}

.sprint_header {
    background-color: rgb(187, 187, 187);
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(rgb(243, 243, 243)), to(rgb(187, 187, 187)));
    background-image: -webkit-linear-gradient(top, rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    background-image: -moz-linear-gradient(top, rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    background-image: -ms-linear-gradient(top, rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    background-image: -o-linear-gradient(top, rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    background-image: -linear-gradient(top, #rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(243, 243, 243)', endColorstr='rgb(187, 187, 187)',GradientType=0 );
}

.story_content {
    display: none;
}


.list_definition_ready {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    margin: 0 auto;
    width: 100%;
}
.definition_ready, .tasks {
    padding: 10px;
    width: 100px;
}
.definition_ready {
    background-color: #eee;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
    text-transform: capitalize;
}
.tasks {
    background-color: #fff;
    -moz-box-flex: 2;
    -ms-box-flex: 2;
    -webkit-box-flex: 2;
}

.user_card {
    width: 40px;
    height: 40px;
}

.card-modal:hover p {
    background-color: #eee;
}

.comment {
    display: inline;
    position: relative;
    left: 5px;
}

.comment i {
    font-size: 22px;
    position: relative;
    top: 5px;
    margin: 0px!important;
}

.number_comment {
    font-size: 10px;
    color: #fff;
    position: relative;
    right: 17px;
    bottom: 8px;
    font-weight: bold;
}
