.sprint_header {
    background-color: rgb(187, 187, 187);
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(rgb(243, 243, 243)), to(rgb(187, 187, 187)));
    background-image: -webkit-linear-gradient(top, rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    background-image: -moz-linear-gradient(top, rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    background-image: -ms-linear-gradient(top, rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    background-image: -o-linear-gradient(top, rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    background-image: -linear-gradient(top, #rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(243, 243, 243)', endColorstr='rgb(187, 187, 187)',GradientType=0 );
    padding: 3px 2px;
}

.sprint_header h5 {
    text-transform: uppercase;
    font-size: 16px;
    color: #444444;
    margin-left: 10px;
}

.sprint_header span {
    color: rgb(131, 131, 131);
    font-style: italic;
}

#clock p#sprint_name {
    text-align: left;
    font-size: 16px;
    margin-left: 10px;
}

#clock {
    width:40%;
    padding: 5px 0;
    background-color: #444444;
    color: #fff;
    margin: 5px 5px 5px 10px;
}

#clock i {
    font-size: 40px;
    position: relative;
    top: 5px;
    left: 10px
}

#clock p {
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
}

#clock strong {
    margin-left: 10px;
}

#live_search {
    width: 53%;
    margin-left: 2%;
}

#live_search input {
    width: 95%;
    margin: 5px 0px 0px 0px;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 0px;
    background: url(../img/serach_icon_gray.png) no-repeat top left;
    background-position: 98% 5px;
}

#expand_close_btns {
    margin-top: 10px;
}

#expand_close_btns button {
    width: 49%;
    text-align: left;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 0px;
    background-color: rgb(228, 223, 223);
}

#expand_close_btns button:hover {
    background-color: rgb(202, 202, 202);
}

#expand_close_btns i {
    float: right;
    font-size: 18px;
    position: relative;
    top: 3px;
}

.close_all_sprints {
    margin-left: 2%;
}

#nothingfound {
    display: none;
    color: red;
}

.sprint_container {
    border: 1px solid rgb(201, 201, 201);
    margin: 10px 0;
}

.sprint_content {
    display: none;
}

.story_header {
    background-color: #eee;
    border-bottom: 2px solid rgb(201, 201, 201);
}

.story_header h5 {
    padding: 10px;
    margin: 0 15px;
}

.story_header h5:first-letter {
    text-transform: uppercase;
}

.expand_story, .expand_sprint {
    font-size: 18px;
    position: relative;
    top: 10px;
}

.story_content {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid rgb(201, 201, 201);
}
.definition_ready:first-letter {
    text-transform: uppercase;
}
.definition_ready {
    word-break: break-word;
    background-color: #fff;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
    border-right: 1px solid rgb(201, 201, 201);
    padding-top: 5px;
}
.definition_ready_label {
    width: 92%;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(202, 202, 202);
}
.definition_ready {
    width: 100px;
}
.definition_ready p {
    padding: 20px;
}
.tasks {
    padding: 10px;
    width: 100px;
}
.tasks {
    background-color: #fff;
    -moz-box-flex: 6;
    -ms-box-flex: 6;
    -webkit-box-flex: 6;
}

.user_card {
    width: 40px;
    height: 40px;
}

.task_container {
    width: 23%;
    word-break: break-word;
    list-style-type: none;
    padding: 2px 0px;
    float: left;
    margin: 0 15px 0 0;
}
.task_container li {
    line-height: 1.2em;
    padding-right: 5px;
}
.task_container li:first-letter {
    text-transform: capitalize;
}

.task {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4d8',endColorstr='#fce8c6');
    background-image: -webkit-gradient(linear,center top,center bottom,from(#fff4d8),to(#fce8c6));
    background-image: -moz-linear-gradient(center top,#fff4d8,#fce8c6);
    background-color: #fff5e3;
    border: 1px solid #ddd  9;
    -moz-box-shadow: 0 1px 3px #bbb;
    -webkit-box-shadow: 0 1px 3px #bbb;
    box-shadow: 0 1px 3px #bbb;
    margin-bottom: 1px;
    cursor: pointer;
    list-style: none;
}

.avatar_container {
    width: 25%;
    float: left;
    padding: 20px 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(224, 202, 146)',endColorstr='#fce8c6');
    background-image: -webkit-gradient(linear,center top,center bottom,from(rgb(224, 202, 146)),to(#fce8c6));
    background-image: -moz-linear-gradient(center top,rgb(224, 202, 146),#fce8c6);
    background-color: rgb(224, 202, 146);
}

.user_card {
    position: relative;
    bottom: 10px;
    margin-left: 10%;
    border: 1px solid rgb(92, 92, 92);
    width: 80%;
    height: auto;
}

.task_item {
    position: relative;
    left: 2%;
    top: 5px;
    font-size: 14px;
    color: #444;
}

.task_item:hover {
    color: #444;
}

.icons_card {
    text-align: right;
    position: relative;
    right: 3%;
    margin-top: 25px;
    margin-bottom: 5px;
}

.icons_card i {
    margin: 0 4px;
}

.comment {
    display: inline;
    position: relative;
    bottom: 5px;
}

.comment i {
    font-size: 22px;
    position: relative;
    top: 5px;
    margin: 0px!important;
    opacity: .7;
}

.number_comment {
    font-size: 10px;
    color: #fff;
    position: relative;
    right: 17px;
    bottom: 8px;
    font-weight: bold;
}
