
.widget-title h5:first-letter {
    text-transform: uppercase;
}
.widget-title h5 {
    font-size: 18px;
    color: #444444;
}

.sprint_header {
    background-color: rgb(187, 187, 187);
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(rgb(243, 243, 243)), to(rgb(187, 187, 187)));
    background-image: -webkit-linear-gradient(top, rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    background-image: -moz-linear-gradient(top, rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    background-image: -ms-linear-gradient(top, rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    background-image: -o-linear-gradient(top, rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    background-image: -linear-gradient(top, #rgb(243, 243, 243) 0%, rgb(187, 187, 187) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(243, 243, 243)', endColorstr='rgb(187, 187, 187)',GradientType=0 );
}

#clock p#sprint_name {
    text-align: left;
    font-size: 16px;
    margin-left: 10px;
}

#clock {
    width:40%;
    padding: 5px 0;
    background-color: #444444;
    color: #fff;
    margin: 5px 5px 5px 10px;
}

#clock i {
    font-size: 40px;
    position: relative;
    top: 5px;
    left: 10px
}

#clock p {
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
}

#clock strong {
    margin-left: 10px;
}

#live_search {
    width: 53%;
    margin-left: 2%;
}

#live_search input {
    width: 95%;
    margin: 5px 0px 0px 0px;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 0px;
    background: url(../img/serach_icon_gray.png) no-repeat top left;
    background-position: 98% 5px;
}

#expand_close_btns {
    margin-top: 10px;
}

#expand_close_btns button {
    width: 49%;
    text-align: left;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 0px;
    background-color: rgb(228, 223, 223);
}

#expand_close_btns button:hover {
    background-color: rgb(202, 202, 202);
}

#expand_close_btns i {
    float: right;
    font-size: 18px;
    position: relative;
    top: 3px;
}

.close_all_sprints {
    margin-left: 2%;
}

#nothingfound {
    display: none;
    color: red;
}

.widget-content {
    display: none;
}

.expand_story, .expand_sprint {
    font-size: 18px;
    position: relative;
    top: 5px;
}

.list_definition_ready {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    margin: 0 auto;
    width: 100%;
}
.definition_ready, .tasks {
    padding: 10px;
    width: 100px;
}
.definition_ready {
    background-color: #eee;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
    text-transform: capitalize;
}
.tasks {
    background-color: #fff;
    -moz-box-flex: 2;
    -ms-box-flex: 2;
    -webkit-box-flex: 2;
}

.user_card {
    width: 40px;
    height: 40px;
}

.card-modal:hover p {
    background-color: #eee;
}

.comment {
    display: inline;
    position: relative;
    left: 5px;
}

.comment i {
    font-size: 22px;
    position: relative;
    top: 5px;
    margin: 0px!important;
}

.number_comment {
    font-size: 10px;
    color: #fff;
    position: relative;
    right: 17px;
    bottom: 8px;
    font-weight: bold;
}
