*{
	padding: 0px;
	margin: 0px;
	border: none;
	list-style: none;
	font-family: Helvetica;
}
a, a:hover{
	text-decoration: none;
	color: #fff;
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.link-color, small {
	color: #0b5b69;
}

input[type="text"] , input[type="email"] , input[type="password"]{
	background-color: #a8d9e0;
	height: 20px;
	width: 70%;
}

.form-homepage-icon {
    padding-right: .5em;
    font-size: 1.2em;
    color: #197a8b;
}

.bloco_grande {
	width: 309px;
	box-shadow: 0px 0px 50px black;
	margin-top: 4em;
	float: right;
}
.menu{
	width: 100%;
	height: 18px;
	background-color: orange;
}
.menu a{
	text-decoration: none;
	display: inline-block;
	background-color: #34abbd;
	text-align: center;
	float: left;
	width: 50%;
	padding: 10px 0px;
}

.menu_login--links {
	width: 66%;
	margin: 1em auto 0;
}

.menu_login--links .link{
	float: left;
	padding: .2em;
}

.menu_login--links .link:first-child{
	margin-top: .5em;
}

.conteudo{
	width: 100%;
	background-color: #34abbd;
}

#entrar{
	display: block;
}
#registro{
	display: none;
	padding-bottom:1.2em;
}
.menu_registro{
	margin: 0 auto;
	text-align: center;
}
.menu_login{
	text-align: center;
}
#registro_index{
	background-color: #197a8b;
}
.conteudo ul{
	padding-top: 15%;
}
.redes_sociais img{
	padding: 6px;
}
.menu_login img , .menu_registro img , input[type="checkbox"]{
	vertical-align: middle;
}

.button-chamada-meus-projetos {
	width: 309px;
	margin-top: 6em;
	margin-right: 5em;
	padding-top: 4em;
	float: right;
}

.button-chamada-meus-projetos a, .button-chamada-meus-projetos a:hover {
	font-size: 14px;
	background-color: #197a8b;
	color: #FFF;
	cursor: pointer;
	padding: 3em 6em;
}

.scrumforme-button-success{
	padding: .5em 2em;
	font-size: 14px;
	background-color: #197a8b;
	color: #FFF;
	cursor: pointer;
}
