/* =Register or Sign in Page
-------------------------------------------------------------- */
body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #f3f3f3;
  -webkit-font-smoothing: antialiased;
  background-color: #34abbd;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
  font-family: 'Helvetica', cursive;
  color: #FFF;
  font-size: 20px;
  text-align: center;
}

form table {
    margin: 0 auto;
}

.error {
  color: red;
}

.hgroup {
  border-bottom: 1px solid #cccccc;
  margin: 15px 0px;
  padding: 10px 0 10px 0;
}

.hgroup h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1em;
  margin: 0 0 0.3em 0;
  padding: 0;
}

.signin, .signup {
  margin: 10px;
}

.signin {
  text-align: center;
  background-color: #ffffff;
  padding: 40px 40px 10px 40px;
  border: solid 1px #e7e7e7;
  margin-bottom: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.signin form .forgot {
  padding: 0 0 20px 0;
  font-weight: 300;
}
.signin form .forgot label.checkbox {
  font-weight: 300;
}
.signin form .forgot label.checkbox input[type="checkbox"] {
  float: none;
  position: relative;
  left: 0;
  top: -3px;
}
.social_sign h3 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 22px;
}
.social_sign a {
  background-color: #0085c8;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  margin: 0 8px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  padding: 18px;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
.social_sign a.fb {
  background-color: #3B5998;
}
.icon-facebook {
  /*background-color: #fff;*/
  /*color: #3B5998;*/
  /*background-color: #3B5998;*/
}
.social_sign a.tw {
  background-color: #00ACEE;
}
.social_sign a.gp {
  background-color: #E44B39;
}
.social_sign a:link,
.social_sign a:visited {
  color: #ffffff;
}
.social_sign a:hover,
.social_sign a:active {
  -moz-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  text-decoration: none;
}
.or {
  overflow: hidden;
  text-align: center;
  padding: 30px 0 0 0;
}
.or .or_l,
.or .or_r {
  width: 40%;
  border-bottom: solid 1px #cccccc;
  display: inline-block;
  position: relative;
  left: 0px;
  top: -4px;
}
.or span {
  width: 8%;
  display: inline-block;
}
p.sign_title {
  font-weight: 300;
  padding: 30px 0 20px 0;
}
.signup {
  text-align: center;
  background-color: #ffffff;
  padding: 40px 40px 10px 40px;
  border: solid 1px #e7e7e7;
  margin-bottom: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.signup .social_sign a {
  position: relative;
  bottom: 15px;
}
.signup form label.checkbox {
  font-weight: 300;
}
.signup form label.checkbox input[type="checkbox"] {
  float: none;
  position: relative;
  left: 0;
  top: -3px;
}

input[type="text"] , input[type="email"] , input[type="password"]{
	background-color: #a8d9e0;
	height: 20px;
	width: 70%;
}

input[type='submit'] {
	color: #fff;
}

.signup form .btn {
  margin-top: 50px;
}
